
.nav-tabs .hidden.nav-link {display: none;}
.users-create-panel {
    text-align: right;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 10px;
}

.users-tabs .dataTables_wrapper {
    margin-top: 12px;
}

.tb-actions {
    margin: 0 2px;
}

.search-allusers-box {
    text-align: right;
}

.tq-users-tabs .users-create-panel {
    margin-top: 8px;
}

.uploaddesc {
    color: #777;
    font-size: 10px;
    font-weight: bold;
    line-height: 14px;
}

.sidebaritems-list .course-res-info {
    color: #777;
    font-size: 12px;
    line-height: 18px;
}

.sidebaritems-list textarea.form-control {
    width: 100%;
    min-height: 110px;
}

.sidebaritems-list .ql-search-form {
    text-align: right;
    margin-bottom: 15px;
}

.sidebaritems-list .ql-search-form .form-inline {
    margin: 0 0.5em;
}

.sidebaritems-list .generaltable.sorting .c0,
.sidebaritems-list .generaltable.sorting .c1 {
    display:none;
}

.sidebaritems-list .ql-search-form {
    text-align: right;
    margin-bottom: 15px;
}

.sidebaritems-list .ql-search-form .form-inline {
    margin: 0 0.5em;
}

.sidebaritems-list .generaltable.sorting .c0,
.sidebaritems-list .generaltable.sorting .c1 {
    display:none;
}
.sidebaritems-list .table_heading{margin-bottom: 0;margin-top: 25px;}

.generaltable.sorting .iconsmall {
    margin-left: 3px;
}

.generaltable.sorting .iconsmall.move-action {
    cursor: move;
}

table.sorting tr.placeholder,
table.sorting tr.placeholder td {
    background-color:#FDF4BB !important;
}
table.sorting tr.not-active {
    opacity: 0.8;
}
table.sorting tr.placeholder {
    opacity: 1 !important;
}
table.sorting .move-action {
    cursor:move;
}
