#nav-drawer .sidebar div[role="block-coursenavigation"] {height: 100%; overflow: auto;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-navigation-block {margin-bottom: 100px;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-navigation-block ul {margin-bottom: 0px !important;}
#nav-drawer .sidebar div[role="block-coursenavigation"] h4.title {display: none !important;}
#nav-drawer .sidebar div[role="block-coursenavigation"] ul.block-menu {display: none;}
#nav-drawer .sidebar div[role="block-coursenavigation"] ul.block-toggle-menu {display: none;}

#nav-drawer .sidebar div[role="block-coursenavigation"] .title{ background: none repeat scroll 0 0 #5B9BB4; border: 1px solid #47869E; color: #FFFFFF; font-weight: bold; padding: 12px 10px; vertical-align: middle;box-shadow: 0 1px 1px rgba(255,255,255,0.3) inset; -webkit-box-shadow: 0 1px 1px0 1px 1px rgba(255,255,255,0.3) inset; -moz-box-shadow: 0 1px 1px rgba(255,255,255,0.3) inset; filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
#nav-drawer .sidebar div[role="block-coursenavigation"]  .course-menu {background: #fff;position: relative; border-left: 1px solid #ddd; border-right: 1px solid #ddd;position:relative;}
#nav-drawer .sidebar div[role="block-coursenavigation"]  .course-menu .open-section:hover {color:#5B9BB4;}
#nav-drawer .sidebar div[role="block-coursenavigation"]  .course-menu .open-section {position: absolute; right: 10px; top: 10px; cursor:pointer; display:none; z-index:1;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu.active .open-section, #nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu.current .open-section{display:block;}
#nav-drawer .sidebar div[role="block-coursenavigation"]  .course-menu .current {  }
#nav-drawer .sidebar div[role="block-coursenavigation"]  .course-menu a {text-decoration:none; background: url("[[pix:theme|icons/plus]]") no-repeat 13px center transparent; color: #5f5f5f; font-size: 11px;line-height:13px; display: block; padding:6px 25px !important;  -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1 ease-in-out;-o-transition: all 0.1s ease-in-out;transition: all 0.1s ease-in-out; position: relative;font-size:11px; color:#333;border-top: 1px solid #ddd;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu.home-link a {padding: 6px 11px !important; background-image: none; font: 600 12px Open Sans;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu.home-link a .icon {margin-right: 8px; margin-top: -2px;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu.home-link.qbank-link i {color:#5b9bb4; font-size:17px; position:absolute;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu.home-link.qbank-link span {margin-left:23px;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu.current a, #nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu.active a, #nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu a:hover {background-color: #fafafa; color: #B14131; box-shadow: -1px 0 0 #EF705B, 2px 0 0 #EF705B inset; -webkit-box-shadow: -1px 0 0 #EF705B, 2px 0 0 #EF705B inset; -moz-box-shadow: -1px 0 0 #EF705B, 2px 0 0 #EF705B inset;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu.ekey-box {position:relative;padding:10px;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu.ekey-box .ekey {font: 16px Open Sans;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu.ekey-box .regenerate{padding: 5px 13px; position: absolute; right: 10px; top: 7px;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu.ekey-box .ekey-stars {font: 16px Open Sans;}

#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu .submenu {border-top:1px solid #eee; border-bottom:none;}
.profile-widget .course-menu ul li:first-child { border-top:0; }
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu .submenu a {background:none; border:0; padding-left:12px;color:#333333;}
.course-menu ul {border:0; display:none;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu .submenu .course-nav-mod-icon { margin: -2px 3px 0 0; width: 17px;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu.active .submenu a {background-image:none;box-shadow:none; color:#333333; padding: 6px 10px !important;}
#nav-drawer .sidebar div[role="block-coursenavigation"]  .course-menu .submenu a:hover {background-image:none; background-color:#fafafa;box-shadow:none;color:#b14131;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu .submenu a i{color: #5B9BB4; font-size: 16px; padding-right: 3px;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu .submenu a:hover i {color:#b14131;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu .submenu.current a {background-image:none; background-color:#fafafa;box-shadow:none;color:#b14131;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu .submenu.current a i {color:#b14131;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-img { height: 110px; overflow: hidden; position: relative;border: 1px solid #DDDDDD;margin-bottom: 2px;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-img img { width:100%; background-color:#ffffff;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu.current ul {display:block;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu.current .submenu a {box-shadow:none;}

#nav-drawer .sidebar div[role="block-coursenavigation"] .title {border:0; font:600 13px Open Sans; margin:0; padding:10px 15px; text-transform:uppercase; position: relative; cursor: pointer;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .title i {margin-right:6px;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .title .course-nav-toggler {cursor: pointer; font-size: 10px; position: absolute; right: 5px; top: 11px;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .title .course-nav-toggler .fa-chevron-down {display: none;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .title.swap .course-nav-toggler .fa-chevron-down {display: block; margin-top: 3px;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .title.swap .course-nav-toggler .fa-chevron-up {display: none;}
#nav-drawer .sidebar div[role="block-coursenavigation"] ul.swap {display:none;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu {background-color:transparent;border: 0; padding:2px 0;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu a {text-decoration:none; color: #5f5f5f; font: 600 12px Open Sans; display: block; padding:5px 25px;  -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1 ease-in-out;-o-transition: all 0.1s ease-in-out;transition: all 0.1s ease-in-out; border:0;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu.course-dashboard a {background-image: none; padding: 6px 10px !important;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu a i {margin-right: 5px;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu.current a, #nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu.active a, #nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu a:hover {color: #333; box-shadow: 2px 0 0 #777 inset; -webkit-box-shadow: 2px 0 0 #777 inset; -moz-box-shadow: 2px 0 0 #777 inset; background-color:transparent;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu .open-section {color: #676767; font-size: 11px; right: 7px; top: 9px;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu ul {margin: 10px 0px 5px !important; }
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu ul li.submenu a{color: #333; padding: 5px 10px; font-size: 11px;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu ul li.submenu a:hover {background-color:#f7f7f7;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu .submenu .course-nav-mod-icon {margin:-3px 5px 0 0;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-img {height: auto; position: relative; border: 0; margin-bottom: 0; background-color: #fff; /*height:108px;*/ overflow: hidden;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu .submenu {border-top: 0; margin: 2px 0;}
body #nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu ul li.submenu a {box-shadow: none;}
#nav-drawer .sidebar div[role="block-coursenavigation"] .course-menu ul li.submenu a:hover {box-shadow: 2px 0 0 #777 inset;}
