/* local calendar */
.path-local-calendar .page-title {display: none;}
.path-local-calendar #region-main .card.card-block {overflow: hidden;}
.main-calendar-box {position:relative; z-index:0; margin:-20px;}
.main-calendar-box .calendar-inner {width:70%; float:left;}
.main-calendar-box .calendar-action-box {width:30%; float:right; position: relative;}
.main-calendar-box.fullview .calendar-inner {width:100%; float:none;}
.main-calendar-box.fullview .calendar-action-box {display:none;}
.main-calendar-box .calendar-action-box .close-sidepanel {display:block; color: #777; cursor: pointer; position: absolute; right: 25px; top: 54px; z-index: 1;}
.main-calendar-box .calendar-action-box .close-sidepanel:hover {color: #333;}
.main-calendar-box .calendar.fc {padding-top:50px;}
.main-calendar-box .calendar .fc-toolbar .fc-left {background-color: #e9e9e9; border-bottom: 1px solid #ccc; float: none; left: 0; padding: 12px 0 0; position: absolute; top: 0; width: 100%; z-index:1;}
.main-calendar-box .calendar .fc-toolbar button, .main-calendar-box .calendar .fc-toolbar .fc-state-default { background-color: #e9e9e9; border: 1px solid #e7e7e7; border-radius: 0; box-shadow: none; box-sizing: border-box; color: #555; cursor: pointer; font: 600 12px Open Sans; height: auto;  margin: 0; padding: 8px 0; text-transform: capitalize;  white-space: nowrap;  width: 95px; background-image:none;}
.main-calendar-box .calendar .fc-toolbar .fc-button.fc-state-default.fc-state-active { background-color: #ffffff; border-color: #ccc #ccc #ffffff; border-style: solid; border-width: 1px; color: #4366a4; margin-bottom: -1px; padding-top:9px;}
.main-calendar-box .calendar .fc-toolbar .fc-button.fc-state-default.fc-state-active:focus {outline:inherit;}
.main-calendar-box .calendar .fc-toolbar button:hover, .main-calendar-box .calendar .fc-toolbar .fc-state-default:hover {color: #4366a4;}
.main-calendar-box .fc-toolbar .fc-center {padding:25px 0 8px;}
.main-calendar-box .calendar .fc-toolbar .fc-center button {background-color:transparent; border:0;}
.main-calendar-box .calendar .fc-toolbar .fc-center h2 {color:#555; font:22px Open Sans; text-shadow: 1px 1px 1px #cccccc;}
.main-calendar-box .fc-view-container {padding:0 3% 3%;}
.main-calendar-box .fc-head .fc-widget-header {border:0 !important;}
.main-calendar-box .fc-body .fc-widget-content {border:0 !important;}
.main-calendar-box .fc-widget-header table thead th {border:0; padding:3px 0; font:11px Open Sans; text-transform:uppercase; color:#555;}
.main-calendar-box .fc-widget-header table thead th.fc-day-header.fc-sat, .main-calendar-box .fc-widget-header table thead th.fc-day-header.fc-sun {color:#fea597;}
.main-calendar-box .fc-basic-view .fc-body .fc-row {margin-bottom:-5px;}
.main-calendar-box .fc-content-skeleton .fc-day-number {font: 600 11px Open Sans; color:#555; padding:5px 7px; cursor:pointer;}
.main-calendar-box .fc-widget-skeleton .fc-nonbusiness.fc-bgevent {background:#ffedeb none repeat scroll 0 0;}
.main-calendar-box .fc-body .fc-bg table {border-spacing:5px; border-collapse:separate;}
.main-calendar-box .fc-body .fc-bg table .fc-day.fc-widget-content {border:1px solid #ccc !important; background-color:#e9e9e9; cursor:pointer;}
.main-calendar-box .fc-day-grid-event .fc-content {cursor:pointer; color: #333;}
.main-calendar-box .fc-row .fc-content-skeleton tbody td, .main-calendar-box .fc-row .fc-helper-skeleton tbody td {cursor:pointer;}
.main-calendar-box .fc-row .fc-highlight-skeleton td, .main-calendar-box .fc-row .fc-bgevent-skeleton td {cursor:pointer;}
.main-calendar-box .fc-body .fc-bg table .fc-day.fc-widget-content.fc-sun, .main-calendar-box .fc-body .fc-bg table .fc-day.fc-widget-content.fc-sat {border:1px solid #f3dbd7 !important; background-color:#ffedeb;}
.main-calendar-box .fc-content-skeleton table {border-collapse: separate; border-spacing: 4px;}
.main-calendar-box .fc-bgevent-skeleton table {border-collapse: separate; border-spacing: 4px;}
.main-calendar-box .fc-bgevent-skeleton .fc-nonbusiness.fc-bgevent {background:transparent none repeat scroll 0 0;}
.main-calendar-box .fc-body .fc-bg table .fc-day.fc-widget-content.fc-today.fc-state-highlight {background-color:#ccc; border:1px solid #bbb !important;}
.main-calendar-box .fc-day-grid-event {border-radius: 0; margin: 0 0 1px; padding: 7px;}
.main-calendar-box .fc-toolbar .fc-state-active, .main-calendar-box .fc-toolbar .ui-state-active {z-index: 1;}
.main-calendar-box .fc-event {border-radius:0; padding:3px; margin-bottom:1px;}
.main-calendar-box .fc-agendaDay-view .fc-event {margin-left:20px;}
.main-calendar-box .fc-agendaDay-view .fc-h-event.fc-event {margin: 0 0 1px -1px;}
.main-calendar-box .fc-agendaWeek-view .fc-h-event.fc-event {margin: 0 0 1px -1px;}
.main-calendar-box .fc-unthemed .fc-divider {background:#445e77 none repeat scroll 0 0; border:0 none; margin-bottom:5px;}
.main-calendar-box .fc-popover.fc-more-popover {border:1px solid #ccc;}
.main-calendar-box .fc-unthemed .fc-popover .fc-header { background: #dde6ef none repeat scroll 0 0; border: 0 none; font: 11px Open Sans; margin-bottom: 0; padding: 5px; color:#555;}
.main-calendar-box .fc .fc-axis {font:600 10px Open Sans; text-transform:uppercase; border-top:0; border-bottom:0;}
.main-calendar-box .fc-axis.fc-widget-header {width:8% !important;}
.main-calendar-box .fc-more-cell .fc-more {color:#555;}
.main-calendar-box button:focus {outline:inherit;}

.calendar-inner button.create-event {position: absolute; right: 15px; top: 8px; z-index: 2; font:13px Open Sans;}
.calendar-inner button.calendar-settings { position: absolute; right: 155px; top: 8px; z-index: 2; font:13px Open Sans;}
.calendar-inner button.calendar-settings i {margin: 0;}

.calendar-action-inner { background-color: #f6f7f9; border-left: 1px solid #ccc; box-shadow: 0 -1px 4px #ccc inset; padding: 20px; position: relative; z-index: 0; margin-top:47px; overflow-y:auto;}
.calendar-action-inner .title {border-bottom: 1px solid #cbd0d6; color: #445c76; font: 600 12px/22px Open Sans; padding: 0 5px 5px; text-transform: uppercase; margin-bottom:15px;}
.calendar-action-inner .loader {color:#445c76; text-align:center; font-size: 2.5em; padding: 10% 0;}

.calendar-action-inner .events-list {list-style: none; margin: 0; padding: 0;}
.calendar-action-inner .events-list li {border-radius: 3px; margin-bottom: 3px; padding: 5px 25px 5px 15px; position:relative;}
.calendar-action-inner .events-list li .event-img {float: left; font-size: 25px; font-weight: normal; padding: 4% 0; text-align: center; width: 28px;}
.calendar-action-inner .events-list li .event-img img.icon {width:28px; height:28px;}
.calendar-action-inner .events-list li .event-body { margin-left: 42px; }
.calendar-action-inner .events-list li .event-body .event-title, .calendar-action-inner .events-list li .event-body .event-title a { color: #444; font: 15px Open Sans; }
.calendar-action-inner .events-list li .event-body .event-time { color: #555; font: 600 11px Open Sans; padding:1px;}
.calendar-action-inner .events-list li .event-body .item-name a { font: 600 11px Open Sans; }
.calendar-action-inner .event-description {color:#999;font:12px/17px Open Sans; max-height:35px; overflow:hidden; text-overflow:ellipsis; padding:2px 0;}
.calendar-action-inner .event-description.open {max-height:none; overflow:none; text-overflow:inherit;}
.calendar-action-inner .event-description .fa {  position: absolute;bottom: 10px; cursor: pointer; right: 7px; color:#626262; font-size:11px;}
.calendar-action-inner .event-description .fa:hover {color:#555;}
.calendar-action-inner .event-description .fa-chevron-up {display:none;}
.calendar-action-inner .event-description .fa-chevron-down {display:inline-block;}
.calendar-action-inner .event-description.open .fa-chevron-down {display:none;}
.calendar-action-inner .event-description.open .fa-chevron-up {display:inline-block;}
.calendar-action-inner .events-list li .event-actions {position: absolute; right: 7px; top: 8px;}
.calendar-action-inner .events-list li .event-actions .fa {color: #777; font-size: 11px; cursor: pointer; display: block; margin-bottom: 5px;}
.calendar-action-inner .events-list li .event-actions .fa:hover {color:#444;}

.calendar-action-inner .calendar-form-body label {margin: 0 0 1px; color:#555; font: 600 11px Open Sans; padding: 0 5px;}
.calendar-action-inner .calendar-form-body input {width: 100%;}
.calendar-action-inner .calendar-form-body select {width: 100%;}
.calendar-action-inner .calendar-form-body .datetimepicker.input-append .add-on, .calendar-action-inner .calendar-form-body .datetimepicker .input-append .btn, .datetimepicker.input-append .btn-group {padding: 4px 5px;}
.calendar-action-inner .date-time.dateTime_selector {width:205px;}
.calendar-action-inner .calendar-form-body .actions {margin-top: 10px; padding: 10px 0 0; border-top:1px solid #ddd;}
.calendar-action-inner .calendar-form-body .actions button {font:13px/18px Open Sans;}
.calendar-form-body .field {margin-bottom: 10px;}
.calendar-form-body .row-fluid.Editor-container .Editor-editor {background-color: #fff;}
.calendar-form-body .Editor-container #menuBarDiv .dropdown-toggle {font-size: 12px;}
.calendar-form-body .row-fluid.Editor-container #menuBarDiv .btn,
.calendar-form-body .row-fluid.Editor-container #menuBarDiv #page-grade-grading-manage .actions .action,
.calendar-form-body #page-grade-grading-manage .actions .row-fluid.Editor-container #menuBarDiv .action, .calendar-form-body .row-fluid.Editor-container #menuBarDiv #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input,
.calendar-form-body #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel .row-fluid.Editor-container #menuBarDiv input,
.calendar-form-body .row-fluid.Editor-container #menuBarDiv #rubric-rubric.gradingform_rubric .addcriterion,
.calendar-form-body #rubric-rubric.gradingform_rubric .row-fluid.Editor-container #menuBarDiv .addcriterion {padding: 0.3rem 0.4rem !important; font-size: 0.9rem; font-weight: 400; line-height: 1;}

.main-calendar-box .settings-calendar-box{position:realtive;display:inline-block;z-index:105;}
.main-calendar-box .settings-calendar-box ul {position:absolute;background-color:#fff;border-radius:3px;box-shadow:1px 1px 3px #999;top:42px; right: 29px; z-index:10; display:none; list-style: none; margin:0; padding: 0;}
.main-calendar-box .settings-calendar-box ul.active {display:block;}
.main-calendar-box .settings-calendar-box ul:after {bottom: 100%;left: 23px;border: solid transparent;    content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(255, 255, 255, 0);border-bottom-color: #fff;    border-width: 7px;margin-left: -7px;}
.main-calendar-box .settings-calendar-box ul li{border-bottom:1px solid #ddd;cursor:pointer;font:12px Open Sans;padding:5px 40px 5px 10px;position:relative;}
.main-calendar-box .settings-calendar-box ul li:hover{color:#333; background-color:#f5f5f5;}
.main-calendar-box .settings-calendar-box ul i {font:12px "Font Awesome 5"; margin-right: 5px;}
.main-calendar-box .generate-result {padding:10px 5px;}
.main-calendar-box .calendar-color-box {display:inline-block;width:10px;height:10px;margin-bottom:-1px;margin-right:5px;border:1px solid #aaa;background-color:#fff;}
.main-calendar-box .fc-event.hidden {display:none;}
#widget-17 .widgetContent .widget-events .event.hidden {display:none;}
.main-calendar-box .calendar-wrapper {width: 100%; height: 200%; position: absolute; margin-top: -20%; background-color: transparent; z-index: 1; top:0; left:0;}

.main-calendar-box .filter-wrapper {position:absolute;background-color:#fff;border-radius:3px;box-shadow:1px 1px 3px #999;z-index:10; display:none; left:30px; top:-40px;}
.main-calendar-box .settings-calendar-box ul #calendar_filter_link:hover .filter-wrapper {display:block;}
.main-calendar-box .filter-wrapper.active {display:block;}
.main-calendar-box .filter-wrapper ul {max-height:250px; overflow-x:hidden;overflow-y:auto;}
.main-calendar-box .filter-wrapper ul li{border-bottom:1px solid #ddd;cursor:pointer;font:12px Open Sans;padding:5px 30px 5px 10px; text-overflow:ellipsis; width:250px;overflow:hidden;text-align:left;position:relative;}
.main-calendar-box .filter-wrapper ul li:hover{color:#333; background-color:#f5f5f5;}
.main-calendar-box .filter-wrapper ul .calendar-filter-box {color:#3a87ad;display:inline-block;width:10px;height:10px;margin-bottom:0;margin-right:5px;border:1px solid #aaa;background-color:#fff;}
.main-calendar-box .filter-wrapper ul .calendar-filter-box.enabled {background-color:rgb(58, 135, 173); border-color:#3a87ad;}
.main-calendar-box .filter-wrapper ul .calendar-filter-box.disables {border:1px solid #aaa !important;background-color:#fff !important;}
.main-calendar-box .calendar-select-color-actions {position:absolute; right:17px; color: #777;}
.main-calendar-box .calendar-select-color-actions:hover {color: #555;}
.main-calendar-box .choose-color-box {background-color:#fff;border-radius:3px;right:277px; top: 42px; position:absolute;box-shadow:1px 1px 3px #999;z-index:10; display:none;}
.main-calendar-box .subscription-color-box.choose-color-box{right: 171px; top: 15px; z-index: 11;}
.main-calendar-box .subscription-color-box.choose-color-box ul:before,
.main-calendar-box .subscription-color-box.choose-color-box ul:after {display: none;}
.main-calendar-box .choose-color-box.visible {display:block;}
.main-calendar-box .choose-color-box:after {top: 6px;right: -14px;border: solid transparent;    content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(255, 255, 255, 0);border-left-color: #fff;    border-width: 7px; z-index:10;}
.main-calendar-box .choose-color-box:before {top: 5px;right: -16px;border: solid transparent;    content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(255, 255, 255, 0);border-left-color: #ccc;border-width: 8px; z-index:10;}
.main-calendar-box .choose-color-box .title {font:13px Open Sans;padding:5px 0;border-bottom:1px solid #e7e7e7;text-align:center;position:relative;}
.main-calendar-box .choose-color-box .title span {position:absolute; top:4px; right:4px; cursor: pointer;}
.main-calendar-box .choose-color-box ul {border:0;border-radius:0;box-shadow:none;display:block;position:relative;margin:0;padding:8px 8px 5px;width:207px; left:0; top:0; min-height: 92px;}
.main-calendar-box .choose-color-box ul li {border-radius:50%;display:block; float:left; height:30px;width:30px;margin:4px;padding:0;text-align:center;color:#ffffff;border:2px solid #000;}
.main-calendar-box .choose-color-box ul li:hover{opacity:0.8;}
.main-calendar-box .choose-color-box ul li:hover i {display:block;opacity:0.5;}
.main-calendar-box .choose-color-box .color-input {border-top:1px solid #e7e7e7;padding:9px 13px;}
.main-calendar-box .choose-color-box ul li i {display:none;line-height:29px; color:#494c51; font-size:14px; margin: 0;}
.main-calendar-box .choose-color-box ul li.active i {display:block; margin: 0;}
.main-calendar-box .choose-color-box ul li.active:hover i {opacity:1;}
.main-calendar-box .choose-color-box .color-input span {border:2px solid #ccc;border-radius:50%;display:block;float:left;height:30px;margin-right:0;width:30px; text-align:center; color:#fff;}
.main-calendar-box .choose-color-box .color-input i.cplh {font:600 13px/29px Open Sans; color:#777; left:67px; position:absolute;}
.main-calendar-box .choose-color-box .color-input span i {line-height:26px; margin: 0;}
.main-calendar-box .choose-color-box .color-input input {border:1px solid #ccc;box-shadow:none; float:left; border-right:0;height:30px;width:90px;margin:0 0 0 10px;border-radius:50px 0 0 50px;padding:0 10px 0 25px; border-right: 0;}
.main-calendar-box .choose-color-box .color-input button {border-radius:0 3px 3px 0;height:30px;margin:0;padding:0 8px; font-size: 12px;}
.main-calendar-box .settings-calendar-box .cal-filters.active {background-color:#f5f5f5; color:#333;}

.main-calendar-box .fc-scroller.fc-day-grid-container {overflow:visible !important; height: auto !important;}
