{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_quicklinks/quicklinks_view

    This template will render the quicklinks view for the navigation bar.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * categories
    * canedit
    * managelink

}}

<div class="quicklinks-content hidden">
    <div class="actions" data-easytabs="true">
        {{#categories}}
            <div id="ql-{{id}}" class="tab{{#active}} active{{/active}}">
                <ul class="round-buttons">
                    {{#qlink}}
                        <li>
                            <div class="round-items">
                                <div class="depth">
                                    <a class="tip" target="_blank" title="{{title}}" href="{{link}}">
                                        {{#imageurl}}
                                            <img src="{{imageurl}}" />
                                        {{/imageurl}}
                                        {{^imageurl}}
                                            <i class="{{icon}}"></i>
                                        {{/imageurl}}
                                    </a>
                                </div>
                            </div>
                            <div class="qlink-name">{{title}}</div>
                        </li>
                    {{/qlink}}
                </ul>
            </div>
        {{/categories}}
        {{#canedit}}
            <div id="ql-0" class="tab{{^categories}} active{{/categories}}">
                <ul class="round-buttons">
                    <li>
                        <div class="round-items">
                            <div class="depth">
                                <a class="tip" target="_blank" title="{{#str}} manage, local_quicklinks {{/str}}" href="{{managelink}}">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                        </div>
                        <div class="qlink-name">{{#str}} manage, local_quicklinks {{/str}}</div>
                    </li>
                </ul>
            </div>
        {{/canedit}}
        <ul class="action-tabs">
            {{#categories}}
                <li class="{{#active}}current{{/active}}"><a title="{{name}}" href="#ql-{{id}}">{{name}}</a></li>
            {{/categories}}
            {{#canedit}}
                <li class="{{^categories}}current{{/categories}}"><a title="{{#str}} managequicklinks, local_quicklinks {{/str}}" href="#ql-0">{{#str}} managequicklinks, local_quicklinks {{/str}}</a></li>
            {{/canedit}}
        </ul>
    </div>
</div>
{{#js}}
require(['jquery'], function($, controller) {
    $('.popover-region-quicklinks').click(function(){
        $('.quicklinks-content').slideToggle();
        processQLinks();
    });
    $('.quicklinks-content .action-tabs a').click(function(event){
        event.preventDefault();
        $('.quicklinks-content .actions .tab').removeClass('active');
        $('.quicklinks-content .action-tabs li').removeClass('current');
        $(this).parent().addClass('current');
        $($(this).attr('href')).addClass('active');
        processQLinks();
    });
    function processQLinks(){
        $('.quicklinks-content .round-items .depth img').each(function(e){
            var qleft = $(this).width()/2;
            var qtop = $(this).height()/2;
            $(this).css('margin-left', '-'+qleft+'px');
            $(this).css('margin-top', '-'+qtop+'px');
        });
    }
});
{{/js}}
