{{^divider}}
{{#haschildren}}
<div class="dropdown nav-item">
    <a class="dropdown-toggle nav-link" id="drop-down-{{uniqid}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
        {{{text}}}
    </a>
    <div class="dropdown-menu" aria-labelledby="drop-down-{{uniqid}}">
        <ul class="main-level">
            {{#children}}
                <li>
                {{^divider}}
                    <a class="dropdown-item" href="{{{url}}}" {{#title}}title="{{title}}"{{/title}}>{{{text}}}
                    </a>
                {{/divider}}
                {{#divider}}
                    <div class="dropdown-divider"></div>
                {{/divider}}
                {{#haschildren}}
                <ul class="child-level">
                    {{#children}}
                    <li>
                        <a class="dropdown-item" href="{{{url}}}" {{#title}}title="{{title}}"{{/title}}>{{{text}}}</a>
                        {{#haschildren}}
                        <ul class="child-level">
                            {{#children}}
                            <li>
                                <a class="dropdown-item" href="{{{url}}}" {{#title}}title="{{title}}"{{/title}}>{{{text}}}</a>
                                {{#haschildren}}
                                <ul class="child-level">
                                    {{#children}}
                                    <li>
                                        <a class="dropdown-item" href="{{{url}}}" {{#title}}title="{{title}}"{{/title}}>{{{text}}}</a>

                                    </li>
                                    {{/children}}
                                </ul>
                                {{/haschildren}}
                            </li>
                            {{/children}}
                        </ul>
                        {{/haschildren}}
                    </li>
                    {{/children}}
                </ul>
                {{/haschildren}}
                </li>
            {{/children}}
        </ul>
    </div>
</div>
{{/haschildren}}
{{^haschildren}}
<a class="nav-item nav-link" href="{{{url}}}" {{#title}}title="{{title}}"{{/title}}>{{{text}}}</a>
{{/haschildren}}
{{/divider}}
