{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/pix_icon

    Moodle pix_icon template.

    The purpose of this template is to render a pix_icon.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * attributes Array of name / value pairs.

    Example context (json):
    {
        "attributes": [
            {"name": "src", "value": "http://moodle.com/wp-content/themes/moodle/images/logo-hat2.png"},
            {"name": "alt", "value": "Alt text for icon"}
        ]
    }

}}
{{#faicon}}
  <i class="fa icon {{fonttext}} {{extraclasses}}"{{#attributes}} {{name}}="{{value}}"{{/attributes}} {{#showtext}}title="{{text}}"{{/showtext}}></i>
{{/faicon}}
<img class="icon {{#faicon}}hidden{{/faicon}} {{extraclasses}}"{{#attributes}} {{name}}="{{value}}"{{/attributes}}/>
