.block_sb_badges.block{background: none;border: none;}
.block_sb_badges.block .card-title { display: none;}
.block_sb_badges.block .card-block { padding:0;}
.block_sb_badges.block .card-text.content .block-side-item{ float: left;width: 50%;padding-bottom: 25px;}
.block_sb_badges.block .card-text.content .block-side-item:first-child{border-right: 1px solid #ccc;}
.block_sb_badges.block .card-text.content .block-side-item .sub-title{font-size: 22px;padding: 1rem;margin: 0;}
.block_sb_badges.block .card-text.content .block-side-item .sub-title{border-bottom:1px solid #ccc; margin-bottom:1rem;}
.block_sb_badges.block .card-text.content .block-side-item .sub-title:first-child{padding-top: 0; margin: 0;}
.block_sb_badges.block .card-text.content .block-side-item:first-child .sub-title:first-child{box-shadow: 2px 0px 0px 0px #fff;}
.block_sb_badges.block .card-text.content .block-side-item .sub-title .fa{font-size: 16px;margin-right: 5px;vertical-align: 3px;}
.block_sb_badges.block .card-text.content .block-side-item .alert{margin-right: 1rem;margin-left: 1rem;}
.block_sb_badges.block .card-text.content .footer{border-top: 1px solid #ccc;}
.block_sb_badges.block .card-text.content .footer #coursesearch{margin-bottom: 1em;}
.block_sb_badges.block .card-text.content .badges li{ padding:0;width: auto;transition-duration: 0.3s;transition-property: all; float: left;}
.block_sb_badges.block .card-text.content .badges li:hover{transform: scale(0.95);}
.block_sb_badges.block .card-text.content .badges li:last-child{margin-right: 0;}
.block.block_sb_badges .badges{ height:132px;padding:0 7%;}
.block.block_sb_badges .badges li .badge-item{background-color: #eb755c;border-radius: 4px;opacity: 0.9;width: 132px;padding: 0.8rem; margin-right: 6px;}
.block.block_sb_badges .badges li .badge-item > a{overflow: hidden;text-align: center;text-decoration: none;text-overflow: ellipsis;text-transform: uppercase;white-space: nowrap;display: block;color:#fff;font-size: 0.9em;font-weight: 600;opacity: 0.7;transition-duration: 0.3s;transition-property: all;}
.block.block_sb_badges .badges li .badge-item a:hover{opacity: 0.9;}
.block.block_sb_badges .badges li .badge-item a.img{opacity: 1;}
.block.block_sb_badges .badges li .badge-item .badge-actions img{filter: brightness(2);opacity: 0.5;transition-duration: 0.3s;transition-property: all;}
.block.block_sb_badges .badges li .badge-item .badge-actions i{color:#fff;opacity: 0.5;transition-duration: 0.3s;transition-property: all;}
.block.block_sb_badges .badges li .badge-item .badge-actions a:hover img{opacity: 0.9;}
.block.block_sb_badges .badges li .badge-item .badge-actions a:hover i{opacity: 0.9;}
.block.block_sb_badges .badges li .badge-item .badge-image{margin: 5px 0;width: 60px; height:60px;}

.block.block_sb_badges .certificates{ height:132px;padding:0 7%;margin: 0;}
.block.block_sb_badges .certificates li{padding:0;width: auto; transition-duration: 0.3s;transition-property: all; float: left;opacity: 0.9; display: inline-block;}
.block.block_sb_badges .certificates li:hover{transform: scale(0.95); opacity:1;text-decoration: none;}
.block.block_sb_badges .certificates li .certificate-item{background-color: #eb755c;border-radius: 4px;width: 132px;padding: 1rem; display: inline-block;text-decoration: none;margin-right: 6px;}
.block.block_sb_badges .certificates li .certificate-item > h4{overflow: hidden;text-align: center;text-overflow: ellipsis;text-transform: uppercase;white-space: nowrap;display: block;color:#fff;font-size: 0.9em;font-weight: 600;margin: 0;}
.block.block_sb_badges .certificates li .certificate-item > h4.certificate-course{font-size: 0.8em;}
.block.block_sb_badges .certificates li .certificate-item .certificate-image{font-size: 39px;padding: 10px 0;text-align: center;color:#fff;}

.block.block_sb_badges .item{ position: relative;}
.block.block_sb_badges .item .carousel-control { cursor: pointer;line-height: 132px;margin: 0;width: 7%;}

.block.block_sb_badges .user-stat{margin: 0;border-bottom: 1px solid #ccc;padding: 1rem;}
.block.block_sb_badges .user-stat li{ display: block; float: left;width: 33%;}
.block.block_sb_badges .user-stat li .stat-item{text-align: center;}
.block.block_sb_badges .user-stat li .stat-item h5{text-transform: uppercase;margin: 0;}
.block.block_sb_badges .user-stat li .stat-item span{color: #999;font:200 43px/43px open sans;}

.block_sb_badges .main-calendar-box{margin: 0;}
.block_sb_badges .main-calendar-box .fc-view-container{ padding:0;}
.block_sb_badges .main-calendar-box .calendar .fc-toolbar button,
.block_sb_badges .main-calendar-box .calendar .fc-toolbar .fc-state-default{background: none;border: none;text-shadow: none;}
.block_sb_badges .main-calendar-box .calendar .fc-toolbar .fc-button.fc-state-default.fc-state-active{background-color: transparent;}
.block_sb_badges .main-calendar-box .calendar .fc-toolbar .fc-left{background: none;}
.block_sb_badges .main-calendar-box .calendar .fc-toolbar .fc-center h2{text-shadow: none;}
.block_sb_badges .main-calendar-box .calendar.fc {padding-left: 15px;padding-right: 15px;}

.block_sb_badges .carousel-control.carousel-control { color: #333;background: none;transition: all 0.3s;}

@media (max-width: 800px) {
    .block_sb_badges.block .card-text.content .block-side-item{ float: none;width: 100%;margin: 0;}
    .block_sb_badges.block .card-text.content .block-side-item:first-child{border-right: none;}
}
