{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_sb_announcements/announcement_content_item

    This template will render the announcement content item for the
    navigation bar announcement menu.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * contexturl A link to the announcement resource
    * read If the announcement is read or not
    * title The title text
    * id Announcement id
    * iconurl The URL for the announcement icon
    * shortenedsubject A shortened version of subject text
    * startdatepretty Pretty formatted time stamp
    * viewmoreurl The link to the full announcement

    Example context (json):
    {
        "contexturl": "http://www.moodle.com",
        "read": true,
        "title": "You have an announcement",
        "id": 1,
        "iconurl": "http://www.moodle.com",
        "shortenedtitle": "You have a...",
        "startdatepretty": "5 minutes ago",
        "viewmoreurl": "http://www.moodle.com"
    }

}}
<div class="content-item-container announcement {{#read}}unread{{/read}}"
    data-region="announcement-content-item-container"
    data-id="{{id}}"
    role="listitem">

    <div tabindex="0"
        {{^read}}aria-label="{{title}}"{{/read}}
        {{^read}}aria-label="{{#str}} unreadnotification, message, {{title}} {{/str}}"{{/read}}>

        <div class="content-item-body">
            <div class="announcement-image announcment-icon {{class}}  {{^read}}announcment-with-check{{/read}}">
                {{^read}}<i class="fa fa-check"></i>{{/read}}
            </div>
            <div class="announcement-message">

                <h3>{{shortenedtitle}}</h3>
            </div>
        </div>
        <div class="content-item-footer">
            <div class="timestamp">{{startdatepretty}}</div>
        </div>
        {{#viewmoreurl}}
            <a href="{{{.}}}" class="view-more" data-action="view-more">{{#str}} view {{/str}}</a>
        {{/viewmoreurl}}
        
        <a href="#" class="delete-item" data-item="{{id}}" data-action="delete-item">{{#str}} delete {{/str}}</a>
        
    </div>
</div>
