.format-isf {}

.format-isf .course-view-tabs {}

.format-isf .course-view-tabs .tab-content {
    position: relative;
    min-height: 580px;
}

.format-isf .course-view-tabs .tab-content .loader {
    display: block;
    position: absolute;
    top: 15px;
    width: 100%;
    height: 30px;
}

.format-isf .center {
    display: block;
}

.format-isf .course-img .image {
    position: relative;
    height: auto;
    margin: 0 -35px 0;
}



.format-isf .course-img .image .close-course-img {
    position: absolute;
    bottom: 10px;
    right: 10px;

    display: block;
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    font: bold 11px Arial;
    padding: 4px 12px;
}
.format-isf .course-img .image .close-course-img:hover,
.format-isf .course-img .image .close-course-img:focus {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    text-decoration: none;
}

.format-isf .course-img .show-course-img {
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 13px;
}
.format-isf .course-img .show-course-img:hover,
.format-isf .course-img .show-course-img:focus {
    text-decoration: none;
}

.format-isf .course-img img {
    width: 100%;
}

.course-content-header .course-title {
    font: bold 21px Trebuchet MS;
    color: #333;
    margin-top: 20px;
}

.format-isf.path-course.path-course-view .page-title h3 {
    display: none;
}

.course-content-header .nav-tabs {
    margin: 15px 0 0;
}

.activity-filter {
    padding:10px;
    border:1px solid #eee;
    border-radius:3px;
    margin-bottom:15px;
}
.activity-filter label{
    float: left;
    line-height: 22px;
    margin-bottom: 0;
    margin-right: 15px;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
}
.activity-filter label input[type="checkbox"]{
    left: 0;
    margin-top: 5px;
    position: absolute;
}
.activity-filter select {
    font-size: 12px;
    margin: -5px 0;
}
.activity-filter .filter-search {
    float:right;
    position:relative
}
.activity-filter .filter-search input[type="text"]{
    margin: -5px;
    width:170px;
    padding-right: 25px;
    font-size: 11px;
}
.activity-filter .filter-search i {
    position:absolute;
    top:4px;
    right:4px;
    cursor:pointer;
    font-size: 14px;
    opacity: 0.2;
    transition: all 0.2s;
}
.activity-filter .filter-search i:hover {
    opacity: 0.4;
}

.tab-pane .loader {
    left: 50%;
    margin-left: -2rem;
    position: absolute;
    top: 10rem;
}

.users-activity-box li {margin-bottom:15px; padding:0 25px;}
.course-tabs-item .users-activity-box ul {list-style:none;margin: 0;}
.users-activity-box li .glossary-activity .glossary-activity-picture { padding: 0; width: 60px;}
.users-activity-box li .glossary-activity .glossary-activity-picture a {border: 4px solid rgba(91, 155, 180, 0.4); border-radius: 50%; box-shadow: 0 0 1px #FFFFFF;display: inline-block;}
.users-activity-box li .glossary-activity .glossary-activity-picture img{ width:35px; border: 1px solid #F5F5F5; border-radius: 50%;}
.users-activity-box li .glossary-activity-content{ background-color: #FAFAFA; border: 1px solid #DDDDDD; box-shadow: -1px 0 2px #EEEEEE; padding: 10px;margin-left:60px; position:relative;}
.users-activity-box li .glossary-activity-content .glossary-activity-entry{padding: 0 0 3px; position:relative;}
.users-activity-box li .glossary-activity-content a {color: #555555; font: bold 14px Trebuchet MS;}
.users-activity-box li .glossary-activity-content .user {font: bold 11px Arial;}
.users-activity-box li .glossary-activity-content .user a{font: bold 13px Arial; color:#4366a4;}
.users-activity-box li .glossary-activity-content .ra-arrow{display: block; height: 14px; left: -7px; position: absolute; top: 15px; width: 7px; background:url([[pix:theme|profile-arrow-left]]) no-repeat 0 0;}
.users-activity-box table {width:100%;}
.users-activity-box table .userpicture {background-color: #FFFFFF; border: 0 none; box-shadow: none; width: 60px; padding:0;}
.users-activity-box table .title .act-arrow, .recent-page-list table .title .act-arrow {display: block; height: 14px; left: -17px; position: absolute; top: 5px; width: 7px; background:url([[pix:theme|profile-arrow-left]]) no-repeat 0 0;}
.users-activity-box table .userpicture a{border: 4px solid rgba(91, 155, 180, 0.4); border-radius: 50%; box-shadow: 0 0 1px #FFFFFF;display: inline-block;}
.users-activity-box table .userpicture img{ width:35px; border: 1px solid #F5F5F5; border-radius: 50%; margin: 0;}
.users-activity-box table td{background-color: #FAFAFA; border: 1px solid #DDDDDD; box-shadow: -1px 0 2px #EEEEEE; padding: 10px;}
.users-activity-box table td .title {padding: 0 0 3px; position:relative;}
.users-activity-box table td .title a {color: #555555; font: bold 14px Trebuchet MS;}
.users-activity-box table td .user {font: bold 11px Arial;}
.users-activity-box table td .user a{font: bold 13px Arial; color:#4366a4;}
.course-changes-activity h3, .users-activity-box h3 {background: linear-gradient(to bottom, #FFFFFF, #F7F7F7) repeat scroll 0 0 rgba(0, 0, 0, 0); border: 1px solid #EEEEEE; color: #555555; font: 14px Open Sans; padding: 7px 10px;  position: relative;border:1px solid rgba(0, 0, 0, 0.1)}
.course-changes .user .modname a {color: #555555; font: bold 14px Trebuchet MS;}
.recent-course-changes .course-changes table .title .act-arrow{top:-13px;}
.recent-course-changes ul {list-style: none;}
.recent-course-msg {font: 16px Open Sans; text-align: center;padding: 20px 0 50px;}
.users-activity-box .recent-items-count {font: 11px/12px Arial; position: absolute; right: 50px; top: 6px;}
.users-activity-box .recent-items-count select{border: 1px solid #DADADA; box-shadow: none; font: 12px Arial; height: auto; margin: 0 5px; padding: 2px; width: 50px;}
.not-viewed-resources { border: 1px solid #BB0000; border-radius: 50%; color: #BB0000; font: bold 11px Arial; margin-left: 5px;margin-right: -5px; padding: 0 4px;}
.recent-pagination {position: absolute; top: 14px; right: 17px;}
.recent-pagination .list-title {color: #888; float: left; font: 18px Open Sans; padding: 0 10px; text-shadow: 1px 1px 1px #ddd;}
.recent-pagination span {display: inline-block; border: 2px solid #777; border-radius: 50%; font-size: 19px; height: 22px; line-height: 22px; text-align: center; width: 22px;}
.recent-pagination span {cursor:pointer;}
.recent-pagination span.disabled {cursor: initial; opacity: 0.5;}
.recent-pagination span.next {margin-right: 5px; }
.recent-pagination label {display: inline; font: 11px Open Sans; margin: 0 5px;}
.users-activity-box .user .modname a {font: 600 13px Open Sans; color: #444;}
.users-activity-box .act-date {font: 600 11px Arial; padding-top: 4px;}
.users-activity-box .tl-action-text {padding: 0 15px; font: 13px Open Sans;}
.users-activity-box .box-checker {cursor: pointer; font: 14px open sans; opacity: 0.7; position: absolute; right: 12px; top: 6px;display:none;}
.users-activity-box .box-checker.active {display: block;}
.users-activity-box .box-checker:hover {opacity:1;}
.course-changes-activity h3 .active, .users-activity-box h3 .active {display:block;}

/* create section modal */
.create-section-form .form-field-item {
    margin-bottom: 1rem;
}
.create-section-form .radio-label {
    display: inline-block;
    padding-left: 20px;
    position: relative;
}
.create-section-form .radio-label input {
    left: 0;
    position: absolute;
    top: 3px;
}
.create-section-form .beforeorafter span {
    margin: 0 15px;
}
.create-quickadd-form .form-field-item {
    margin-bottom: 1rem;
}

.gradesummary-box .info-progress{width:150px;height:14px;background-color:#fff;box-shadow: 0 0 10px #DDDDDD inset;position:relative; margin-top:0;}
.gradesummary-box .info-progress span{display:block;height:100%;position:absolute;top:0;left:0;}
.gradesummary-box .info-progress .current-grade{background-color:#ccc;z-index:1;}
.gradesummary-box .info-progress .avarage{border-right:1px dashed #676767; z-index:2;height:315%;top:-100%;}
.gradesummary-box .info-progress .goal{border-right:3px solid #686868; z-index:3;}
.gradesummary-box .info-hidden{opacity:0;text-indent:-9999px;height: 1px;width:1px;}

.gradesummary-box .info-legeng{float: right;margin-bottom: 10px; padding-top:6px;}
.gradesummary-box .info-legeng p{margin:0 15px 0 0;float:left;}
.gradesummary-box .info-legeng span{margin-right:5px;display:inline-block;}
.gradesummary-box .info-legeng .current-grade{width:10px;height:10px; background-color:#ccc; }
.gradesummary-box .info-legeng .avarage{border-left:1px dashed #676767;width:1px;height: 10px;}
.gradesummary-box .info-legeng .goal{border-left:3px solid #686868;width:1px;height: 10px;}
.gradesummary-box .user-pic img {border: 1px solid #F5F5F5; border-radius: 50%; margin: 0;}
.gradesummary-box .user-pic a {border: 3px solid rgba(91, 155, 180, 0.4); border-radius: 50%; box-shadow: 0 0 1px #FFFFFF;  display: inline-block; margin-right:5px;}
.gradesummary-box .circle-text, .gradesummary-box .circle-info, .gradesummary-box .circle-text-half, .gradesummary-box .circle-info-half {display: inline-block; position: absolute; text-align: center; width: 100%;}
.gradesummary-box .avarage-stat {height: 50px; margin: -10px 0; position: relative; width: 50px;}
.gradesummary-box .avarage-stat .circliful {margin-top: -6px; position: absolute; top: 0; width: 60px;}
.gradesummary-box .avarage-stat .circliful .percent {display: none;}
.gradesummary-box .viewdetails {margin: 0;}
.gradesummary-box .viewdetails i {margin: 0;}
.gradesummary-box .dataTables_length label {font-size: 12px;}
.gradesummary-box .dataTables_length select {font-size: 12px; height: 21px; margin: 0 5px; padding: 0 20px 0 5px;}
.gradesummary-box table.dataTable td {vertical-align: middle;}
.course-gradessummary .dataTables_length {display: none;}
.course-gradessummary .dataTable th {cursor: pointer;}
