/*$with-check-color: #78ad1d;

.announcement-image {
    display: block;
    float: left;
    width: 26px;
    height: 26px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin: 0px 15px 0 0;
    i {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 26px;
        color: #fff !important;
    }
}
.announcment-with-check {
    background-color: $with-check-color !important;
    border-color: $with-check-color !important;
}*/
.announcement-message {
    background: #f60 !important;
    h3 {
        font-size: 12px !important;
        line-height: 12px !important;
        margin: 0 !important;
        width: 100% !important;
        font-weight: 600 !important;
        font-family: $default-font-family !important;
    }
}
