/* Anchor link offset fix. This makes hash links scroll 60px down to account for the fixed header. */
$fixed-header-y: $navbar-height + $breadcrumb-height;

$drawer-width: 85px;
$drawer-padding-x: 0;
$drawer-padding-y: 0;
$drawer-offscreen-gutter: 20px;

:target {
    padding-top: ($fixed-header-y + 30px) !important; /* stylelint-disable declaration-no-important */
    margin-top: -$fixed-header-y !important; /* negative fixed header height */
}
.pagelayout-embedded :target {
    padding-top: initial;
    margin-top: initial;
}

#nav-drawer.closed {
    left: -75px;
}
#page {
    margin-top: $navbar-height;
}

/* Use a variable for the drawer background colors. */
$drawer-bg: #ffffff !default;
$drawer-border-color: #dddddd !default;

[data-region="drawer"] {
    position: fixed;
    padding: 0;
    width: $drawer-width;
    top: $navbar-height;
    height: calc(100% - #{$navbar-height});
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: $zindex-dropdown - 1;
    background-color: $drawer-bg;
    border-right: 1px solid $drawer-border-color;
    -webkit-transition: right 0.5s ease, left 0.5s ease;
    -moz-transition: right 0.5s ease, left 0.5s ease;
    transition: right 0.5s ease, left 0.5s ease;
}
#nav-drawer {
    right: auto;
    left: 0;
}
#page {
    margin-top: $fixed-header-y;
}
.pagelayout-embedded #page {
    margin-top: 0;
}
body.drawer-ease {
    #page-wrapper {
        -webkit-transition: margin-left 0.5s ease, margin-right 0.5s ease;
        -moz-transition: margin-left 0.5s ease, margin-right 0.5s ease;
        transition: margin-left 0.5s ease, margin-right 0.5s ease;
    }
}

body.drawer-open-left {
    #page-wrapper {
        margin-left: $drawer-width;
        @include media-breakpoint-up(md) {
            margin-left: $drawer-width;
        }
        .full-header {
            .crumbs-region {
                width: calc(100% - #{$drawer-width});
                margin-left: $drawer-width;
            }
        }
    }
}
body.drawer-open-right {
    #page-wrapper {
        margin-right: $drawer-width;
        @include media-breakpoint-up(md) {
            margin-right: $drawer-width;
        }
        .full-header {
            .crumbs-region {
                width: calc(100% - #{$drawer-width});
                margin-right: $drawer-width;
            }
        }
    }
}

.drawer-toggle {
    button {
        background-color: rgba(255, 255, 255, 0.1);
        border: 0 none;
        color: $navbar-text-color;
        line-height: 46px;
        width: 48px;
        text-align: center;
        margin:0 !important;
    }
}

body.drawer-open-left,
body.drawer-open-right {
    .drawer-toggle {
        button {
            background-color: transparent;
            margin:0 !important;
            @include hover-focus {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
}

.timeline-toggler {
    button {
        background-color: transparent;
        border: 0 none;
        color: $navbar-text-color;
        line-height: 46px;
        width: 48px;
        text-align: center;
        margin:0 !important;
    }
}
.timeline-toggler.active {
    button {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.flat-nav {
    list-style: none;
    padding: 0;
    margin:0;

    .list-group-item {
        height: 55px;
        padding: 0;
        display: block;
        color: $flatmenu-color;
        background-color: $flatmenu-bg;
        border-radius: 0;
        text-align: center;
        font-size: 24px;
        line-height: 55px;
        border: 0;
        @include hover-focus {
            color: $flatmenu-hover-color;
            background-color: $flatmenu-hover-bg;
        }
        img,
        svg {
            max-width: 40px;
            max-height: 40px;
            margin-top: 10px;
        }
    }

    .list-group-item.active {
        color: $flatmenu-active-color;
        background-color: $flatmenu-active-bg;
    }
}

