$toggle-width: 25px;
$standard-border: 1px solid #ddd;
$region-container-height: 500px;
$region-container-width: 380px;
$region-container-z-index: 1000;
$region-header-height: 25px;
$region-footer-height: 30px;
$content-item-hover-colour-bg: #efefef;
$content-item-hover-colour-text: #222222;
$content-item-selected-colour-bg: #a4c9e0;
$content-item--header-text-colour: #ddd;
$content-item-hover-header-colour-bg: #a4c9e0;
$content-item-hover-header-colour-text: #5fa7d0;
$odd-items-background-colour: #f1f1f1;

$content-item-unread-colour: #f4f4f4;
$content-header-footer-height: $region-header-height + $region-footer-height;

@mixin invisible() {
    opacity: 0;
    visibility: hidden;
}

@mixin visible() {
    opacity: 1;
    visibility: visible;
}

.popover-region {
    float: right;
    position: relative;
    margin-right: 5px;

    &.collapsed {
        .popover-region-toggle {
            &:before {
                right: -4px;
                display: none;
            }
            &:after {
                right: -4px;
                display: none;
            }
        }

        .popover-region-container {
            @include invisible();

            height: 0;
            overflow: hidden;
            transition: height 0.25s, opacity 101ms 0.25s, visibility 101ms 0.25s;
        }
    }
}

.popover-region-toggle.active {
    background-color: $breadcrumb-actions-bg-hover;
    i {
        color: $breadcrumb-actions-color-hover;
    }
}

.popover-region-toggle {
    cursor: pointer;
    padding: 6px 0;
    width: 30px;
    min-width: 30px;
    line-height: 21px;
    text-align: center;
    position:relative;
    z-index:111;
    i.icon {
        color: $breadcrumb-actions-color;
        margin: 0;
    }
    i.fa {
        color: $breadcrumb-actions-color;
        margin: 0;
    }

    @include hover-focus {
        background-color: $breadcrumb-actions-bg-hover;
        i {
            color: $breadcrumb-actions-color-hover;
        }
    }

    &::before {
        content: '';
        display: inline-block;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #ddd;
        position: absolute;
        bottom: 0;
        right: 5px;
    }

    &::after {
        content: '';
        display: inline-block;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 9px solid #fff;
        position: absolute;
        bottom: -1px;
        right: 6px;
        z-index: $region-container-z-index + 1;
    }
}

.count-container {
    padding: 2px;
    border-radius: 2px;
    background-color: red;
    color: white;
    font-size: 10px;
    line-height: 10px;
    position: absolute;
    top: 5px;
    right: 0;
}

.popover-region-container {
    @include visible();

    position: absolute;
    right: 0;
    top: 0;
    height: $region-container-height;
    width: $region-container-width;
    border: $standard-border;
    transition: height 0.25s;
    background-color: #fff;
    z-index: $region-container-z-index;
    font-family: $default-font-family !important;
    border-bottom: 1px solid #e7e7e7 !important;
}

.popover-region-header-container {
    height: $region-header-height;
    line-height: $region-header-height;
    padding: 15px 30px 15px 30px;
    border-bottom: $standard-border;
    box-sizing: border-box;
    min-height: 60px;
    border-bottom: 3px solid #eee;
}

.popover-region-footer-container {
    background-color: #fff;
    border-top: 1px solid #ddd;
    height: 32px;
    margin-top: -37px;
    padding-top: 3px;
    text-align: center;
}

.popover-region-seeall-text {
    font-family: $default-font-family;
    font-size: 11px;
    margin-top: 4px;
    text-transform: uppercase;
}

.popover-region-header-text {
    float: left;
    margin: 0;
    font-size: 14px;
    line-height: $region-header-height;
    color: #5fa7d0;
}

.hover-tooltip {
    z-index: 1111;
}

.popover-region-header-actions {
    float: right;
    > * {
        margin-left: 10px;
        min-width: 20px;
        display: inline-block;
        width: 26px;
        height: 26px;
        border: 1px solid $content-item--header-text-colour;
        border-radius: 50%;
        transition: color 0.25s, border-color 0.25s;
        i {
            display: block;
            margin-top: 5px;
            padding: 0;
            margin-left: auto !important;
            margin-right: auto !important;
            text-align: center;
            color: $content-item--header-text-colour;
        }
        span {
            width:26px;
        }
        &:hover {
            border-color: $content-item-hover-header-colour-bg !important;
            a {
                text-decoration: none;
                i {
                    color: $content-item-hover-header-colour-bg !important;
                }
            }
        }
    }
    .loading-icon {
        display: none;
        height: 12px;
        width: 12px;
    }

    .newmessage-link {
        margin-right: 10px;
        width: 110px;
        border-radius: 30px;
        display: block;
        float: left;
        padding-top: 1px;
        a {
            text-align: center;
            display: block;
            line-height: 21px;
            font-size: 12px;
        }
    }

    label {
        display: inline-block;
        text-align: center;
        margin-bottom: 0;
    }
}

.popover-region-content-container {
    height: calc(100% - #{$content-header-footer-height});
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    > .loading-icon {
        display: none;
        text-align: center;
        padding: 5px;
        box-sizing: border-box;
    }

    .empty-message {
        display: none;
        text-align: center;
        padding: 10px;
    }

    &.loading {
        > .loading-icon {
            display: block;
        }

        .empty-message {
            display: none;
        }
    }
}

.navbar {
    .popover-region {
        float: right;
        margin-right: 7px;

        &.collapsed {
            .popover-region-container {
                @include invisible();
                font-family: $default-font-family;
                height: 0;
                overflow: hidden;
                transition: height 0.25s, opacity 101ms 0.25s, visibility 101ms 0.25s;
            }
        }
    }

    .popover-region-toggle {
        width: $toggle-width;
    }

    .count-container {
        padding: 2px;
        border-radius: 2px;
        background-color: red;
        color: white;
        font-size: 10px;
        line-height: 10px;
        position: absolute;
        top: 5px;
        right: 0;
    }

    .popover-region-container {
        top: $line-height-base * 1.4 * $font-size-base;
    }

}

.content-item-container {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: 0;
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 15px 30px;
    transition: all 0.25s ease;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f9f9f9;
    &:hover {
        color: $content-item-hover-colour-text;
        background-color: $content-item-hover-colour-bg;
    }

    &.unread {
        margin: 0;
        background-color: $content-item-unread-colour;

        &:hover {
            color: $content-item-hover-colour-text;
            background-color: $content-item-hover-colour-bg;
        }

        .content-item-body {
            .notification-message {
                font-weight: 600;
            }
        }
    }
    .context-link {
        color: inherit;
        text-decoration: none;
    }

    .content-item-body {
        box-sizing: border-box;
        margin-bottom: 5px;
    }

    .content-item-footer {
        text-align: left;
        box-sizing: border-box;

        .timestamp {
            font-size: 10px;
            line-height: 10px;
            margin: 0;
            color: #666;
            margin-left: 34px;
        }
    }

    .view-more {
        bottom: 10px;
        font-family: $default-font-family;
        font-size: 9px;
        line-height: 11px;
        position: absolute;
        right: 15px;
        text-transform: uppercase;
    }

    &.notification {
        .content-item-body {
            .notification-image {
                display: inline-block;
                width: 24px;
                height: 24px;
                float: left;
                margin-top: 3px;
                img {
                    height: 75%;
                }
            }

            .notification-message {
                display: inline-block;
                font-size: 12px;
                width: calc(100% - 24px);
                padding-left: 8px;
                font-weight: 600;
            }
        }
    }

    &.selected {
        background-color: $content-item-selected-colour-bg;
        color: $content-item-hover-colour-text;
        border-color: $content-item-selected-colour-bg;

        .content-item-footer {
            .timestamp {
                color: $content-item-hover-colour-text;
            }
        }
    }
}

.content-item-container:nth-child(even) {
    background-color: $odd-items-background-colour;
}
.content-item-container.selected:nth-child(even) {
    background-color: $content-item-selected-colour-bg;
}

.popover-region-messages a[data-region="message-content-item-container"] {
    padding: 15px 30px 5px 15px !important;
}

.popover-region-notifications {
    .popover-region-header-container {
        .mark-all-read-button {
            .normal-icon {
                display: inline-block;
            }

            &.loading {
                .normal-icon {
                    display: none;
                }
                .loading-icon {
                    display: inline-block;
                }
            }
        }
    }

    .all-notifications {
        @include visible();

        height: auto;
        overflow: hidden;

        &:empty + .empty-message {
            display: block;
        }
    }

    .notification-image {
        display: inline-block;
        width: 8%;
        vertical-align: top;

        img {
            height: 90%;
        }
    }

    .notification-message {
        display: inline-block;
        font-size: 12px;
    }

    .popover-region-content-container {
        &.loading {
            .all-notifications {
                &:empty + .empty-message {
                    display: none;
                }
            }
        }
    }
}

.popover-region-messages {
    .mark-all-read-button {
        .normal-icon {
            display: inline-block;
        }

        &.loading {
            .normal-icon {
                display: none;
            }
            .loading-icon {
                display: inline-block;
            }
        }
    }

    .popover-region-content-container {
        &.loading {
            .popover-region-content {
                .messages {
                    &:empty + .empty-message {
                        display: none;
                    }
                }
            }
        }
    }

    .messages {
        &:empty + .empty-message {
            display: block;
        }
    }

    .content-item-container {
        &.unread {
            .content-item-body {
                font-weight: 600;
                width: calc(90% - 30px);
            }

            .unread-count-container {
                display: inline-block;
                width: 10%;
                text-align: center;
                float: right;
            }
        }
    }

    .content-item {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
    }

    .profile-image-container {
        width: 30px;
        display: inline-block;
        text-align: center;
        float: left;

        img {
            width: 100%;
            display: inline-block;
            vertical-align: middle;
            border-radius: 50%;
        }
    }

    .content-item-body {
        display: inline-block;
        box-sizing: border-box;
        width: calc(100% - 30px);
        font-size: 12px;
        padding-left: 13px;
        overflow: hidden;

        h3 {
            font-size: 12px;
            line-height: 12px;
            margin: 0;
            width: 100%;
            font-weight: 600 !important;
            font-family: $default-font-family;
        }

        p {
            margin: 0;
            font-family: $default-font-family;
        }
    }

    .unread-count-container {
        display: none;
    }
}

@media (max-width: 767px) {
    .navbar {
        .popover-region {
            .popover-region-container {
                right: -70px;
            }
        }
    }
}

@media (max-width: 480px) {
    .navbar {
        .popover-region {
            .popover-region-container {
                position: fixed;
                top: 46px;
                right: 0;
                left: 0;
                bottom: 0;
                width: auto;
                height: auto;
            }
        }
    }
}
