.search-results .result {
    margin-left: 0;
    margin-right: 0;
}

.search-results .result .result-content {
    margin: 7px 0;
}

.search-results .result .filename {
    font-style: italic;
}

.search-input-wrapper {
    margin: 0;
    overflow: hidden;
    float: right;
    width: 48px;
    padding: 12px 15px 11px !important;
    transition: width 0.5s ease, left 0.5s ease;
    i {
        color: $navbar-text-color;
        font-size: 14px;
        margin: 0;
    }
    .search-input-form > input {
        border: 0;
        color: #555;
        font-size: 11px;
        padding: 3px 10px;
        width: 135px;
    }
    @include hover-focus {
        background-color: rgba(255, 255, 255, 0.1);
        i {
            color: $navbar-text-color-hover;
        }
    }
}

.search-input-wrapper > div {
    float: left;
    margin: 2px;

    .icon {
        margin-right: 0;
    }
}

.search-input-wrapper > form {
    opacity: 0;
    margin-left: 25px;
    transition: opacity 0.5s ease-in-out;
}

.search-input-wrapper > form > input {
    margin: 0;
}

.search-input-wrapper form.expanded {
    opacity: 1;
}

.search-input-wrapper.expanded {
    width: 192px;
}

@include media-breakpoint-down(xs) {
    .search-input-wrapper {
        > div {
            margin: 0;
        }

        > form {
            display: none;
        }
        margin: 0 $spacer 0 0;
    }
}

.search-areas-actions {
    margin-bottom: $spacer;
}

.search-areas-actions > div {
    margin-right: $spacer;
    display: inline-block;
}
