$table-th-color: #666 !default;
$table-th-border-width: 1px;
$table-th-border-color: #ccc;

table.flexible,
.generaltable {
    @extend .table;
}

.preferences-container {
    .preferences-container {
        width: 99%;
    }
}

table.flexible, .generaltable, .userenrolment {
    margin-top: 1rem;

    thead th {
        border-bottom: $table-th-border-width solid $table-th-border-color;
        color: $table-th-color;
        font-size: 11px;
        font-weight: 600;
        padding: 20px 10px 5px;
        text-transform: uppercase;
        text-align: left;
    }

    tbody {
        border-bottom: $table-th-border-width solid $table-th-border-color;

        td {
            font-size: 13px;
            line-height: 21px;
            padding: 8px 10px;
            font-family: $default-font-family;
        }
    }
}


// fancier table styles moved to expendable.less
// to shift after 4096 selector break
