.cf-agenda {
    position: relative;
    font-family: Open Sans;
}

.cf-agenda .btn-new-post {
    position: absolute;
    display: block;
    top: 15px;
    right: 15px;
}

.cf-agenda .agenda-box-inner {
    position: relative;
    padding: 15px;
}

.agenda-box-inner .alert-success {
    margin-top: 50px;
}

.cf-agenda .agenda-rightpanel {
    background-color: #F8F8F8;
}

.cf-agenda .agenda-rightpanel-inner {
    padding: 10px;
}

.agenda-rightpanel-inner .item-box .item-inner{
    margin-top: 20px;
    position: relative;
}

.agenda-rightpanel-inner .items-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.agenda-rightpanel-inner .items-list li {
    font-size: 13px;
    line-height: 16px;
    padding: 5px 0;
}

.agenda-rightpanel-inner .items-list li a {
    font-size: 13px;
    line-height: 16px;
    color: #888;
}
.agenda-rightpanel-inner .items-list li a:hover {
    text-decoration: none;
    color: #656565;
}

.agenda-rightpanel-inner .items-list li a span {
    color: #555;
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
}

.cf-agenda .agenda-rightpanel-inner .item-box {
    margin-bottom: 20px;
}

.cf-agenda .agenda-rightpanel-inner .item-box .title {
    border-bottom: 2px solid #bbb;
    font-size: 15px;
    line-height: 28px;
    padding: 5px 2px 5px 1px;
    position: relative;
    color: #656565;
}

.path-local-agenda .agenda-buttons ul {
    margin: 0;
    padding: 0 0 15px;
    list-style: none;
}

.path-local-agenda .agenda-buttons ul li.active {
    background-color: #f9f9f9;
    border: 1px solid #D3D8DB;
    border-radius: 5px;
    color: #333;
    box-shadow: 0 0 4px #eee inset;
}

.path-local-agenda .agenda-buttons ul li {
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin-right: 7px;
    color: #444;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
    position: relative;
}

.path-local-agenda .agenda-buttons ul li.active:before {
    border-bottom: 7px solid #e9e9e9;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    right: 8px;
    bottom: -17px;
    vertical-align: top;
    width: 0;
}

.path-local-agenda .mform .collapsible-actions {
    display: none;
}

.path-local-agenda .mform input[type="checkbox"],
.path-local-agenda .mform input[type="radio"] {
    margin-right: 5px;
}

.path-local-agenda .col-md-9 input[type='text'],
.path-local-agenda .col-md-9 textarea {
    width: 50%;
}

.path-local-agenda .mform .collapsible .fcontainer {
    background-color: #f9f9f9;
    border: 1px solid #D3D8DB !important;
    border-radius: 5px;
    box-shadow: 0 0 4px #eee inset;
    padding: 15px;
}

.path-local-agenda .mform .collapsible#id_tab-settings .fcontainer {
    background-color: transparent;
    border: 0 !important;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
}

.path-local-agenda .mform #id_tab-post,
.path-local-agenda .mform #id_tab-question,
.path-local-agenda .mform #id_tab-link,
.path-local-agenda .mform #id_tab-files,
.path-local-agenda .mform #id_tab-poll {
    border: 0;
}

.path-local-agenda .mform #id_tab-post legend,
.path-local-agenda .mform #id_tab-question legend,
.path-local-agenda .mform #id_tab-link legend,
.path-local-agenda .mform #id_tab-files legend,
.path-local-agenda .mform #id_tab-poll legend {
    display: none;
}

.path-local-agenda .mform fieldset.collapsed {
    border: 0;
    margin: 0;
}

.path-local-agenda .mform fieldset.hidden .fcontainer {
    background-color: inherit;
    border: none!important;
    border-radius: 0;
    box-shadow: none;
}

.path-local-agenda .mform .agenda-buttons ul li:hover{
    color:#555;
    background-color:#f9f9f9;
    border:1px solid #D3D8DB
}

.path-local-agenda .mform #id_link_description {
 height: 100px!important;
}

.tab-pane.course-agenda {
    margin: -1.25rem;
}


.agenda-box {position:relative;}
.agenda-box-inner {position:relative; padding:5px 0; width:70%; float:left;}
.agenda-box-inner .no-posts {font:16px Open Sans;padding:5px 5px 7px;}
.agenda-box-inner .btn-create {position:absolute; top:0; right:0;}
.agenda-box-inner .timeline-title {background-color:#e3e9ef;border-radius:3px;color:#7e8284;font:bold 13px Arial;padding:7px 0;text-align:center;width:120px;}
.agenda-box-inner ul.items-list {list-style:none;margin:20px 0 60px;padding:0 0 0 60px;position:relative;}
.agenda-box-inner ul.items-list.notpubblished {background-color:#feffe0;}
.agenda-box-inner ul.items-list:before {background: #d4d9dc none repeat scroll 0 0; content: ""; height: 105%; left: 60px; position: absolute; top: 0; width: 1px;}
.agenda-box-inner ul.items-list li {border-bottom:1px dotted #d4d9dc;padding:20px;position:relative;}
.agenda-box-inner ul.items-list li.notvisible {opacity:0.5;}
.agenda-box-inner ul.items-list li.loading {opacity:0.3;}
.agenda-box-inner ul.items-list li.alist-item:after {content: "";left: -4px;position: absolute;top: 40px; width: 9px;height:9px; border-radius: 50%;background-color:#d4d9dc;z-index: 10;}
.agenda-box-inner ul.items-list li.alist-item:before {background: #d4d9dc none repeat scroll 0 0; content: ""; left: 0px; position: absolute; top: 44px; width: 20px; height:1px;}
.agenda-box-inner .post-poll-box {border:1px solid #ccd2dd; border-radius:3px;box-shadow:0 0 1px #ccd2dd;position:relative; margin-top:10px;}
.agenda-box-inner .post-body-box ol {margin:0 0 10px 25px;}
.course-tabs-item ul .agenda-box-inner .post-body-box ul {list-style:disk;margin:0 0 10px 25px;}
.agenda-box-inner .post-body-box ul li, .agenda-box-inner .post-body-box ol li {padding:5px; border:0;}
.agenda-box-inner .post-poll-box .post-poll {color:#5b6a81;font:600 15px Open Sans; padding:10px 15px; text-shadow:1px 1px 1px #fff; background-color:#EEF1F7;}
.agenda-box-inner .post-poll-box .post-poll p {margin:0;}
.agenda-box-inner .post-poll-box.loading {padding:50px 0; text-align:center; font-size: 32px;}
.agenda-box-inner .post-poll-box.loading .fa-spinner {text-align:center; font-size: 32px;}
.post-poll-box.results .post-poll {padding:10px 100px 10px 15px;}
.post-poll-box .post-poll span {background-color: #8c97b2; color: #fff; text-shadow: none; text-align: right; font: 600 12px Open Sans; border: 1px solid #8590ad; border-radius: 50px; padding: 1px 8px 1px 27px; display: block; position: absolute; top: 12px; right: 12px;min-width:10px;}
.post-poll-box span i {margin-right: 5px; font-size: 16px; position: absolute; left: 8px; top: 2px;}
.agenda-box-inner ul.items-list li .poll-list {margin:0; padding:0; list-style:none;}
.agenda-box-inner ul.items-list li .poll-list li {background-color:#fff; border-bottom:0; border-top: 1px solid #e7ebf1; color:#7e8284; font:13px Open Sans; padding:8px 15px 8px 30px; }
.agenda-box-inner ul.items-list li .poll-list li.show-results {
    padding-left: 10px;
}
.agenda-box-inner ul.items-list li .poll-list li label {margin:0; font-size:13px; padding-left: 15px; position: relative; cursor: pointer;}
.agenda-box-inner ul.items-list li .poll-list li input {left: -5px; margin-top: 1px; position: absolute; top: 2px;}
.agenda-box-inner ul.items-list li table.poll-list {width:100%;}
.agenda-box-inner ul.items-list li table.poll-list td {border:1px solid #e7ebf1; border-bottom:0; font:13px Open Sans;color:#828DAA;padding:8px;}
.agenda-box-inner ul.items-list li table.poll-list td.cpo_1 {text-align:left; width:42%;}
.agenda-box-inner ul.items-list li table.poll-list td.cpo_2 {border:1px solid #e7ebf1; border-bottom:0; font:600 13px Open Sans; width:43%;position:relative;}
.agenda-box-inner ul.items-list li table.poll-list td.cpo_2 .poll-result-box {border-radius:50px;height:15px;position:relative;width:80%;background-color:#eef1f7;}
.poll-result-box .poll-result-inner{border-radius:50px;height:15px;position:relative;}
.agenda-box-inner ul.items-list li table.poll-list td.cpo_2 span {font-size: 10px; position: absolute; right: -2px; top: 9px; width: 35px;}
.agenda-box-inner ul.items-list li table.poll-list td.cpo_3 {text-align:right; font:600 13px Open Sans;}
.agenda-box-inner ul.items-list li .poll-list li:last-child {border-radius:0 0 3px 3px;}
.agenda-box-inner ul.items-list li .poll-list li:before, .agenda-box-inner ul.items-list li .poll-list li:after {display:none;}
.agenda-box-inner ul.items-list li .user-picture {position: absolute;}
.agenda-box-inner ul.items-list li .user-picture .post-date {font:11px Open Sans;position:absolute;left:1px;top:55px;}
.agenda-box-inner ul.items-list li .user-picture a {border:4px solid rgba(91, 155, 180, 0.4); border-radius:50%;box-shadow:0 0 1px #fff;display:block;}
.agenda-box-inner ul.items-list li .user-picture img {background-color:#fff;border:1px solid #f5f5f5;border-radius:50%; margin: 0;}
.agenda-box-inner ul.items-list li .post-body-box {margin-left:70px;padding-top:8px;}
.post-body-box .post-author {font:bold 12px Open Sans;padding:0 0 10px;}
.post-body-box .post-author .post-title {font:13px Open Sans; margin-left: 9px;}
.post-body-box .post-text iframe {max-width: 100%;}
.post-body-box .post-text ul, .post-question ul {list-style:disc !important; margin:0 0 10px;}
.post-body-box .post-text img {background-color:#fff;border:1px solid #ddd;border-radius:3px;max-height:300px;max-width:500px;padding:2px;}
.agenda-box-inner .item-box {background-color:#f9f9f9;border-radius:3px;min-height:50px;position:relative; width:80%; margin-top:10px;}
.agenda-box-inner .item-box .post-item-icon {background-color:rgba(239, 240, 241, 0.9); color:#b7b5b5;height:100%;left:0;position:absolute;text-align:center;width:55px; top:0; border-radius:3px 0 0 3px;}
.agenda-box-inner .item-box .post-item-icon i {font-size:21px;margin-top:15px;}
.agenda-box-inner .item-box .item-text {margin-left:55px; padding:15px; font:13px Open Sans;}
.agenda-box-inner .item-box .item-text a {font:bold 13px Open Sans;}
.agenda-box-inner .item-box .item-text p {margin:0;}
.agenda-box-inner ul.items-list li .post-actions {margin-top:10px;}
.agenda-box-inner ul.items-list li .post-actions ul {list-style:none; margin:0; padding:0;}
.agenda-box-inner ul.items-list li .post-actions li {border:0; float:left; font:13px Open Sans; color:#727272; padding:0 20px 0 0;cursor:pointer;}
.agenda-box-inner ul.items-list li .post-actions li:before,.agenda-box ul.items-list li .post-actions li:after {display:none;}
.agenda-box-inner ul.items-list li .post-actions li a{font:13px Open Sans; color:#727272; text-decoration:none;}
.agenda-box-inner ul.items-list li .post-actions li.like.likes {color:#444;}
.agenda-box-inner ul.items-list li .post-actions li:hover {color:#444;}
.agenda-box-inner ul.items-list li .post-actions li a:hover {color:#444;text-decoration:none;}
.agenda-box-inner ul.items-list li .post-actions li i {margin-right:3px;}
.agenda-box-inner .agenda-load-more-box {text-align:right;}
.agenda-box-inner ul.items-list li .agenda-small-icons {left:-45px;list-style:none;margin:0; padding:0;position:absolute;top:32px;}
.agenda-box-inner ul.items-list li .agenda-small-icons li {position:relative; background-color:#e3e9ef;border:0;border-radius:3px;box-shadow:0 0 4px #eee inset;color:#777;font-size:13px;height:25px;line-height:25px;margin-bottom:12px;padding:0;text-align:center;width:25px;}
.agenda-box-inner ul.items-list li .agenda-small-icons li:before {background: #d4d9dc none repeat scroll 0 0; content: ""; height: 12px; left: 12px; position: absolute; top: -12px; width: 1px;}
.agenda-box-inner ul.items-list li .agenda-small-icons li:after {width:0;}
.agenda-box-inner ul.items-list li .agenda-small-icons li:first-child:before {display:none;}
.agenda-box-inner ul.items-list li .agenda-small-icons li:first-child:after {background: #d4d9dc none repeat scroll 0 0; content: ""; left: 22px; position: absolute; top: 12px; width: 25px; height:1px;}
.agenda-box-inner ul.items-list li .post-comments {background-color:#f9f9f9;border-radius:4px;margin:10px 0 0;padding:10px;width:90%; display:none; position:relative; max-height:600px; overflow:auto;}
.agenda-box-inner ul.items-list li .post-comments.open {display:block;}
.agenda-box-inner ul.items-list li .post-comments ul {list-style:none; margin:0; padding:0;}
.agenda-box-inner ul.items-list li .post-comments ul li {position:relative; padding:0; border:0;}
.agenda-box-inner ul.items-list li .post-comments ul li:before, .agenda-box ul.items-list li .agenda-small-icons ul li:after{display:none;}
.agenda-box-inner ul.items-list li .post-comments ul li:after {width:0 !important;}
.agenda-box-inner ul.items-list li .post-comments ul li .comments-form-picture {position:absolute;}
.agenda-box-inner ul.items-list li .post-comments ul li .comments-form-picture a {border:3px solid rgba(91, 155, 180, 0.4); border-radius:50%;box-shadow:0 0 1px #fff;display:block; margin: 0;}
.agenda-box-inner ul.items-list li .post-comments ul li .comments-form-picture img {background-color:#fff;border:1px solid #f5f5f5;border-radius:50%; margin: 0;}
.agenda-box-inner ul.items-list li .post-comments ul li .comments-form-textarea {margin-left:50px; position:relative;}
.agenda-box-inner ul.items-list li .post-comments ul li .comments-form-textarea .send {position:absolute; top:10px; right:10px;color:#888;cursor:pointer;}
.agenda-box-inner ul.items-list li .post-comments ul li .comments-form-textarea .send:hover {color:#555;}
.agenda-box-inner ul.items-list li .post-comments ul li .comments-form-textarea input {border-radius:2px;font:12px Open Sans; margin:0; padding:10px 30px 10px 10px;width:100%;box-sizing:border-box;border:1px solid #ddd;}
.agenda-box-inner ul.items-list li .post-comments ul li.comment-item {border-bottom:1px dotted #d4d9dc;min-height:38px; padding:0 0 5px;position:relative;margin-bottom:5px;}
.agenda-box-inner ul.items-list li .post-comments ul li.comment-item .comments-form-picture a {border:3px solid rgba(91, 155, 180, 0.4); border-radius:50%;box-shadow:0 0 1px #fff;display:block;height:36px;width:36px;}
.agenda-box-inner ul.items-list li .post-comments ul li.comment-item .comment-body {margin-left:50px; position:relative; font:12px Open Sans;}
.agenda-box-inner ul.items-list li .post-comments ul li.comment-item .comment-body a {font:bold 12px Open Sans; margin-right: 8px;}
.agenda-box-inner ul.items-list li .post-comments ul li.comment-item .comment-body .comment-actions {display:block;text-align:right;}
.agenda-box-inner ul.items-list li .post-comments ul li.comment-item .comment-body .comment-actions a {font:11px Open Sans; color:#727272;}
.agenda-box-inner ul.items-list li .post-comments ul li.comment-item .comment-body .comment-actions a:hover {color:#444; text-decoration:none;}
.agenda-box-inner ul.items-list li .post-comments ul li.comment-item .comment-body .comment-actions a i {
    margin-right: 3px;
}
.agenda-box-inner ul.items-list li .post-comments ul li.comment-item .comment-body .comment-actions .comment-date {font:bold 10px Arial;padding-left:10px;}
.agenda-box-inner ul.items-list li .post-acourses {border-radius:4px;margin:10px 0 0;padding:10px;width:90%; position:relative; display:none;}
.agenda-box-inner ul.items-list li .post-acourses i {position:absolute; margin:8px 0 0 6px;font-size:16px;}
.agenda-box-inner ul.items-list li .post-acourses .select2-container {z-index:1; width:300px !important;}

.agenda-rightpanel-inner .item-box .course-calendar-events ul {list-style:none; margin: 0; padding:0;}
.agenda-rightpanel-inner .item-box .course-calendar-events ul li {border-bottom:1px dotted #ccc;padding:7px; position:relative;}
.agenda-rightpanel-inner .item-box .course-calendar-events ul li:last-child {border-bottom:0;}
.agenda-rightpanel-inner .item-box .course-calendar-events ul li:hover {background-color:#f1f2f3;}
.agenda-rightpanel-inner .item-box .course-calendar-events ul li .event-time-box{color:#626262;font:11px/14px Open Sans;position:absolute;text-align:right;width:53px;}
.agenda-rightpanel-inner .item-box .course-calendar-events ul li .event-time-box span {border-bottom:1px solid #bbb; color:#5b9bb4; display:inline-block; font: 600 11px Open Sans;margin-bottom:5px;padding:2px 0 2px 2px;}
.agenda-rightpanel-inner .item-box .course-calendar-events ul li .event-body {color:#999;font:12px/17px Open Sans;height:60px;margin-left:70px;overflow:hidden;text-overflow:ellipsis;position:relative;}
.agenda-rightpanel-inner .item-box .course-calendar-events ul li .event-body .title {border:0;color:#777;font:13px Open Sans; margin:0; padding:2px 0;}
.agenda-rightpanel-inner .item-box .course-calendar-events ul li .event-body .title a {border:0;color:#777;font:13px Open Sans; margin:0; padding:2px 0;}
.agenda-rightpanel-inner .item-box .course-calendar-events ul li .event-body .title a:hover {text-decoration:none; color:#444;}
.agenda-rightpanel-inner .item-box .course-calendar-events ul li .event-body.open {height:auto;overflow:none;text-overflow:inherit;}
.agenda-rightpanel-inner .item-box .course-calendar-events ul li .event-body .fa {  position: absolute;bottom: 8px; cursor: pointer; right: 5px; color:#626262;}
.agenda-rightpanel-inner .item-box .course-calendar-events ul li .event-body .fa:hover {color:#555;}
.agenda-rightpanel-inner .item-box .course-calendar-events ul li .event-body .fa-chevron-up {display:none;}
.agenda-rightpanel-inner .item-box .course-calendar-events ul li .event-body .fa-chevron-down {display:inline-block;}
.agenda-rightpanel-inner .item-box .course-calendar-events ul li .event-body.open .fa-chevron-down {display:none;}
.agenda-rightpanel-inner .item-box .course-calendar-events ul li .event-body.open .fa-chevron-up {display:inline-block;}
.agenda-rightpanel-inner .item-box .course-calendar {background-color:#f1f2f3;border-radius:2px;padding:15px;}
.agenda-rightpanel-inner .item-box .course-calendar .fc-header-toolbar {border-bottom:1px solid #bbb;margin-bottom:12px;}
.agenda-rightpanel-inner .item-box .course-calendar .fc-header-toolbar h2 {color:#777;font:600 14px Open Sans;margin:0 0 10px;padding:0 5px 0 0;text-align:left;}
.agenda-rightpanel-inner .item-box .course-calendar .fc-header-toolbar .fc-button {padding:0;height:2em;line-height:1em; margin:0; font-size: 12px;}
.agenda-rightpanel-inner .item-box .course-calendar .fc-content-skeleton .fc-day-number {color:#777;float:none;font:600 13px Open Sans;padding:10px 2px 0px;text-align:center; display: block; cursor: pointer;}
.agenda-rightpanel-inner .item-box .course-calendar .fc-content-skeleton .fc-day-content {height:7px; padding:1px 2px;}
.agenda-rightpanel-inner .item-box .course-calendar .fc-state-highlight {background:#e1e1e1 none repeat scroll 0 0;}
.agenda-rightpanel-inner .item-box .course-calendar .fc-sun {border-left:0;}
.agenda-rightpanel-inner .item-box .course-calendar .fc-sat {border-right:0;}
.agenda-rightpanel-inner .item-box .course-calendar .fc-week.fc-last .fc-day {border-bottom:0;}
.agenda-rightpanel-inner .item-box .course-calendar thead {background:none;}
.agenda-rightpanel-inner .item-box .course-calendar thead th {border:0 !important;color:#999;font:11px Open Sans;padding:7px 0;text-transform:uppercase;}
.agenda-rightpanel-inner .item-box .course-calendar .fc-button-prev .fc-text-arrow, .agenda-rightpanel-inner .item-box .course-calendar .fc-button-next .fc-text-arrow {color:#777;font-size:1.4em;}
.agenda-rightpanel-inner .item-box .course-calendar td.fc-day {cursor:pointer;}
.agenda-rightpanel-inner .item-box .course-calendar .fc-border-separate td:hover {background-color:#e5e5e5;}
.agenda-rightpanel-inner .item-box .course-calendar td.fc-day.active {background-color:#e1e2e3;}
.agenda-rightpanel-inner .item-box .course-calendar .fc-event { border-radius:20px; height:3px;}
.agenda-rightpanel-inner .item-box .course-calendar .fc-event .fc-content { display: none; }
.agenda-rightpanel-inner .item-box .course-calendar .fc-event .fc-event-inner .fc-event-time, .agenda-rightpanel-inner .item-box .course-calendar .fc-event .fc-event-inner .fc-event-title {display:none;}
.agenda-rightpanel-inner .item-box .course-calendar-events .loading {padding:40px 0;text-align:center;font-size:27px;color:#888;}
.agenda-rightpanel-inner .fc-head-container.fc-widget-header {border:0 !important; margin: 0 !important;}
.agenda-rightpanel-inner .fc-row.fc-widget-header {border:0 !important; margin: 0 !important;}
.agenda-rightpanel-inner .fc-scroller.fc-day-grid-container {height: auto !important; overflow: visible !important;}
.agenda-rightpanel-inner .fc-basic-view .fc-body .fc-row {height: 41px !important; min-height: 41px !important;}
.course-calendar-events .day-title {font:600 11px Open Sans; padding: 10px 5px 5px; text-transform:uppercase; }

