.block.block_sb_timeline {
    font-family: Open Sans;
    background: none;
    border: none;
}
.block.block_sb_timeline .block-controls.header {
    display: none;
}
.editing .block.block_sb_timeline .block-controls.header {
    margin-top: -24px;
    position: absolute;
    right: 20px;
    display: block;
}
.block.block_sb_timeline.card {
    margin-top: -65px;
    background-color: transparent;
    border: 0;
}
.block.block_sb_timeline .content {padding: 0;}
.timeline.list .timesecion{width: auto;display:none;}
.timeline.list .timeslot .task a{
    font-size: 13px;
    font-family: Open Sans;
}
.timeline.list .timeslot{transition:width 0.55s; width: 100%;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CED5E5;
    box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    border-width: 1px 1px 2px;
    display: block;
    font-size: 11px;
    padding: 0px;
    margin: 5px 0 15px;
    background: none no-repeat scroll 0 20px #FFFFFF;
    border: 1px solid #CED5E5;
    box-shadow: 0 2px 0px #CED5E5;
}
.timeline.list .timeslot .task{
    padding: 5px 10px;
    display:block;
    float: none;
    width:auto;
    background-color:transparent;
    border:0;
}

.timeline.list .timeslot .time{
    box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box;
 background-color: #F5F5F5;
    border-radius: 0;
    border-top: 1px dashed #E6E6E6;
    bottom: auto;
    color: #999999;
    display: block;
    font: 400 10px arial;
    left: 0;
    margin: 0;
    padding: 5px 15px;
    position: relative;
    text-shadow: 0 1px 0 #FFFFFF;
    top: auto;
    width: 100%;
}
.timeline.list .timeslot .arrow{display:none;}
.timeline.list:before {
    background: none repeat scroll 0 0 transparent;
    content: "";
    height: 100%;
    left: 50%;
    margin-left: -2px;
    position: absolute;
    width: 4px;
}

.timeline.list .timeslot .activity-icon {
    background-color: transparent;
    border: 0;
    left: auto;
    right: 0;
    bottom: 2px;
}

.timeline-header i:hover{background-color: rgba(91, 155, 180, 0.2);}
.timeline-header i.active{background-color: rgba(91, 155, 180, 0.2);}
.timeline-header i{
    font-size:14px;
    float:right;
    background-color: rgba(91, 155, 180, 0.1);
    cursor: default;
    text-align: center;
    width: 10px;
    line-height: 32px;
    margin: 0;
    border-left:1px solid rgba(221, 221, 221, 0.5);
    cursor:pointer;
    width: 32px;
}
.timeline-header h2{
    font-size: 11px;
    font-weight: 600;
    font-family: Open Sans;
    line-height: 32px;
    margin:0;
    padding: 0;
    float: left;
}
.timeline-header{
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffffff, #f7f7f7) repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #000;
    line-height: 32px;
    margin: 0;
    padding: 0 0 0 15px;
    position: relative;
    height: 33px;
}
.timeline {
    height: 100%;
    margin: 20px auto;
    position: relative;
    width: auto;
}
.timeline:before {
    background: none repeat scroll 0 0 #CED5E5;
    content: "";
    height: 100%;
    left: 50%;
    position: absolute;
    width: 2px;
}
.empty-graph .timeline:before {
    display: none;
}
.timeslot {
    display: inline-block;
    margin: 5px 0;
    position: relative;
    width: 100%;

}
.timeslot .task {
    -moz-box-sizing: content-box;
    border: 0 none;
    display: block;
    height: auto;
    padding: 0;
    float:left;
    width: 43.5%;
    position: relative;
}
.timeslot.alt .task {
    float:right;
    width: 41%;
}
.timeslot.alt .task .arrow {
    height: 15px;
    left:-8px;
    position: absolute;
    top: 7px;
    width: 10px;
    background: rgba(0, 0, 0, 0) url([[pix:theme|box_pointer]]) no-repeat scroll -10px -14px;
}
.timeslot.alt .time {
    left: auto;
    padding: 5px 20px 5px 10px;
    right: 54%;
    top: -2px;
}
.timeslot .task  {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C4CDE0;
    box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    border-width: 1px 1px 2px;
    display: block;
    font-size: 11px;
    padding: 5px 5px 5px 10px;
    margin-top: -2px;
}
.timeslot .task p{
    font:400 11px  Arial;
    margin:0;
    text-transform: capitalize;
}
.timeslot .task a{
    font-family: Open Sans;
    font-size: 13px;
    display: block;
    margin:3px 0
}
.timeslot .task span {
    font: 11px Arial; color:#999;
    display: block;
}

.timeslot .task .arrow {
    height: 15px;
    position: absolute;
    right: -10px;
    top:11px;
    width: 10px;
    background: rgba(0, 0, 0, 0) url([[pix:theme|box_pointer]]) no-repeat scroll 0 0;
}
.timesecion {
    -moz-box-sizing: content-box;
    background: none repeat scroll 0 0 #A3B1CE;
    border-radius: 3px;
    color: #FFFFFF;
    font-weight:600;
    font-size: 12px;
    margin: 10px auto;
    text-align: center;
    width: 50px;
    z-index: 0;
    padding:2px 8px;
    position: relative;
}
.timesecion .load-more {cursor: pointer;}
.timeslot .activity-icon {
    box-sizing: border-box;
    background: none repeat scroll 0 0 #ffffff;
    border: 2px solid #C4CDE0;
    border-radius: 50em;
    color: #FFFFFF;
    font-size: 16px;
    left: 50%;
    line-height: 30px;
    margin-left: -16px;
    position: absolute;
    text-align: center;
    text-shadow: none;
    z-index: 1;
    padding: 5px;
    width: 40px;
    height: 40px;
}
.timeslot .activity-icon img {
    height: 26px;
    margin-top: -7px;
    margin-left: 0px;
    width: 26px;
}
.timeslot .time {
    background: none repeat scroll 0 0 #E4E6EB;
    border-radius: 4px;
    left: 55%;
    padding: 5px 10px;
    position: absolute;
    top: -2px;
    z-index: 0;
    font-size: 10px;
}
