{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_primaryisf/flat_navigation

    Display the flat navigation for the primaryisf theme

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * flatmenu - array of flat_navigation_nodes
      * action - string
      * isactive - boolean
      * icon - string
      * image - string
      * svg - HTML
      * type - string
      * text - HTML

    Example context (json):
    {
        "flatmenu" : [
            {
                "action": "#",
                "isactive": true,
                "icon": "fa fa-file",
                "image": "image url",
                "svg": "svg code",
                "text": "First"
            },{
                "action": "#",
                "isactive": false,
                "icon": "fa fa-file",
                "text": "Last &amp; Second"
            }
        ]
    }
}}
<nav class="list-group">
    <ul class="clearfix flat-nav">
    {{# flatmenu }}
        {{#action}}
        <li>
            <a class="list-group-item list-group-item-action {{#isactive}}active{{/isactive}}" href="{{{action}}}" data-key="{{key}}" {{attributes}} title="{{{text}}}" {{#target}}target="_blank" {{/target}}>
                {{#icon}}<i class="{{icon}}"></i>{{/icon}}
                {{#svg}}{{{svg}}}{{/svg}}
                {{#image}}<image src="{{image}}" title="{{text}}" alt="{{text}}" />{{/image}}
            </a>
        </li>
        {{/action}}
    {{/ flatmenu }}
    </ul>
</nav>
