{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}
<header role="banner" class="pos-f-t navbar navbar-full navbar-light bg-faded navbar-static-top moodle-has-zindex">

    <div class="container-fluid navbar-nav">

        <a href="{{{ config.wwwroot }}}" class="navbar-brand has-logo hidden-sm-down">
            {{# output.should_display_navbar_logo }}
                {{! <span class="logo hidden-xs-down">
                    <img src="{{output.get_compact_logo_url}}" alt="{{sitename}}">
                    </span>}}
            {{/ output.should_display_navbar_logo }}
            {{^ output.should_display_navbar_logo }}
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="100" style="width:30px; height: 30px;" viewBox="0 0 38 40" version="1.1" xml:space="preserve" style="clip-rule:evenodd;fill-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41" class="isflogo"><style>.s0{fill-rule:nonzero;fill:rgb(255,255,255);}</style><g transform="matrix(1,0,0,1,-50.5,-52.25)"><g transform="matrix(0.295597,0,0,0.295597,48.8356,51.0771)"><path d="M87.06 95.92C87.06 95.92 98.24 92.34 106.66 85.16 123.76 70.56 126.25 55.29 126.25 55.29 126.25 55.29 110.31 50.1 91.16 57.83 78.99 62.75 73.48 68.56 73.48 68.56 73.48 68.56 77.56 72.99 81.4 80.24 85.88 88.69 87.06 95.92 87.06 95.92" class="s0"/></g><g transform="matrix(0.295597,0,0,0.295597,48.8356,51.0771)"><path d="M15.55 57.2C15.55 57.2 17.76 67.23 28.48 78.91 38.51 89.84 50.64 94.76 50.64 94.76 50.64 94.76 51.61 88.57 55.65 79.84 58.19 74.35 63 68 63 68 63 68 56.82 62.26 44.53 57.71 31.56 52.92 15.55 57.2 15.55 57.2" class="s0"/></g><g transform="matrix(0.295597,0,0,0.295597,48.8356,51.0771)"><path d="M80.81 106.18C80.81 106.18 76.16 106.72 69.24 106.47 63.02 106.24 55.6 104.9 55.6 104.9 55.34 110.24 57.05 118.11 58.31 121.66 62.03 132.16 68.94 136.52 68.94 136.52 68.94 136.52 75.21 132.03 78.42 123.27 81.53 114.78 80.81 106.18 80.81 106.18" class="s0"/></g><g transform="matrix(0.295597,0,0,0.295597,48.8356,51.0771)"><path d="M69.16 98.64C76.62 98.92 80.05 97.8 80.05 97.8 80.05 97.8 79.04 91.68 76.05 85.22 72.95 78.51 68.67 73.55 68.67 73.55 68.67 73.55 63.42 78.77 60.23 85.51 57 92.29 56.6 96.93 56.6 96.93 60.31 97.78 62.24 98.38 69.16 98.64" class="s0"/></g><g transform="matrix(0.295597,0,0,0.295597,48.8356,51.0771)"><path d="M111.65 94.52C98.31 102.83 88.33 104.69 88.33 104.69 88.33 104.69 90.4 116.25 85.71 127.32 83.73 132 81.3 135.76 78.91 138.73 109.71 134.42 133.43 107.98 133.43 75.99 133.43 74.84 133.39 73.7 133.33 72.57 128.44 80.43 121.49 88.38 111.65 94.52" class="s0"/></g><g transform="matrix(0.295597,0,0,0.295597,48.8356,51.0771)"><path d="M50.43 52.07C59.49 55.65 67.39 62.47 67.39 62.47 67.39 62.47 79.97 48.78 98.62 42.64 106.9 39.91 114.61 38.86 121.27 38.69 114.32 29.16 104.77 21.65 93.66 17.19 93.84 20.86 93.43 24.94 92.18 29.43 88.01 44.31 65.52 54.17 65.52 54.17 65.52 54.17 49.62 41.08 52.68 21.2 53.05 18.81 53.65 16.62 54.4 14.59 35.67 19.35 20.3 32.45 12.42 49.7 20.3 47.12 33.42 45.34 50.43 52.07" class="s0"/></g><g transform="matrix(0.295597,0,0,0.295597,48.8356,51.0771)"><path d="M51.73 127.88C47.11 115.63 49.44 103.34 49.44 103.34 49.44 103.34 30.57 98.82 15.75 81.2 11.66 76.34 8.98 71.83 7.23 67.92 6.89 70.56 6.7 73.25 6.7 75.99 6.7 106.82 28.72 132.49 57.88 138.17 55.5 135.34 53.24 131.89 51.73 127.88" class="s0"/></g><g transform="matrix(0.295597,0,0,0.295597,48.8356,51.0771)"><path d="M82.45 25.79C84.8 12.79 76.67 4.44 76.67 4.44 76.67 4.44 63.5 10.67 61.43 24.07 59.44 36.94 66.88 45.52 66.88 45.52 66.88 45.52 79.78 40.6 82.45 25.79" class="s0"/></g></g></svg>
            {{/ output.should_display_navbar_logo }}
        </a>

        <!-- sidebar toggler -->
        <div data-region="drawer-toggle" class="drawer-toggle">
            <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="pull-xs-left m-r-1" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav"><span aria-hidden="true"><i class="fa fa-bars"></i></span><span class="sr-only">{{#str}}expand, core{{/str}}</span></button>
        </div>

        <!-- user_menu -->
        {{{ output.user_menu }}}

        <!-- search_box -->
        <span class="hidden-md-down">
        {{{ output.search_box }}}
        </span>

        <!-- tools_menu -->
        {{{ output.tools_menu }}}

        <!-- custom_menu -->
        {{#custom_menu_flag}}
        {{{ output.custom_menu }}}
        {{/custom_menu_flag}}

        <nav class="nav navbar-nav hidden-md-down">
            <!-- page_heading_menu -->
            {{{ output.page_heading_menu }}}
        </nav>
    </div>

    {{{ output.full_header }}}
    {{{ output.quick_links }}}
</header>
{{{ output.course_header_block }}}
