{{!
    @template theme_primaryisf/nav-drawer


    Example context (json): {}
}}
<div id="nav-drawer" data-region="drawer" class="hidden-print moodle-has-zindex {{^navdraweropen}}closed{{/navdraweropen}} clearfix" aria-hidden="{{#navdraweropen}}false{{/navdraweropen}}{{^navdraweropen}}true{{/navdraweropen}}" tabindex="-1">
    {{> theme_primaryisf/flat_navigation }}
    {{> theme_primaryisf/sidebar }}
</div>
