{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_primaryisf/secure

    primaryisf secure layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page

      Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         }
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <!-- Favicon image -->
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{{ output.faviconpng }}}">
    <link rel="icon" type="image/png" href="{{{ output.faviconpng }}}" sizes="32x32">
    <meta name="msapplication-TileImage" content="{{{ output.faviconpng }}}">
    <meta name="msapplication-TileColor" content="#f5f5f5">
    <!-- Favicon image -->
    {{{ output.standard_head_html }}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body {{{ bodyattributes }}}>

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    {{>theme_primaryisf/header-secure}}

    <div id="page" class="container-fluid">
        {{! Secured full header }}

        <div id="page-header" class="row">
            <div class="col-xs-12 p-y-1">
                <div class="page-context-header">
                    <div class="page-header-headings">
                        {{{ output.page_heading }}}
                    </div>
                </div>
            </div>
        </div>

        <div id="page-content" class="row">
            <div id="region-main-box" class="col-xs-12">
                <section id="region-main" {{#hasblocks}}class="has-blocks"{{/hasblocks}}>
                    <div class="card card-block">
                    {{{ output.course_content_header }}}
                    {{{ output.main_content }}}
                    {{{ output.course_content_footer }}}
                    </div>
                </section>
                {{#hasblocks}}
                <section data-region="blocks-column">
                    {{{ sidepreblocks }}}
                </section>
                {{/hasblocks}}
            </div>
        </div>
    </div>
</div>
<footer id="page-footer" class="p-y-1 bg-inverse">
    <div class="container">
        <div id="course-footer">{{{ output.course_footer }}}</div>

        {{{ output.standard_end_of_body_html }}}
    </div>
</footer>

</body>
</html>
{{#js}}
require(['theme_primaryisf/loader']);
{{/js}}
