{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_primaryisf/sidebar

    Display the sidebar navigation for the primaryisf theme

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * sidebar - array of sidebar nodes
      * key - string
      * icon - string
      * image - image url
      * svg - svg code
      * title - string
      * menu - array of links
      * list - array of toggled menu


    Example context (json):
    {
        "sidebarblocks" : [
            {
                "key": "#",
                "icon": "fa fa-file",
                "image": "http://url",
                "svg": "svg code",
                "title": "First",
                "menu": [
                    {
                        "action": "moodle url",
                        "title": "First",
                    },
                ],
                "items": [
                    {
                        "action": "course",
                        "icon": "fa fa-file",
                        "title": "First",
                        "list": [
                            {
                                "action": "moodle url",
                                "title": "First",
                            },
                            {
                                "key": "features",
                                "action": "moodle url",
                                "title": "Text",
                            },
                        ],
                    },
                ],
            }
        ]
    }
}}
<div class="sidebar">
    {{#sidebarblocks}}
    <div class="sidebar-block" region="sidebar-block-region" role="block-{{key}}">
        <h4 class="title">
            {{#icon}}<i class="{{icon}}"></i>{{/icon}}
            {{#svg}}{{svg}}{{/svg}}
            {{#image}}<image src="{{image}}" title="{{title}}" alt="{{title}}" />{{/image}}
            {{title}}
        </h4>
        <ul class="block-menu">
            {{#menu}}
                <li{{#menuicon}} class="with-icon"{{/menuicon}}>
                    <a href="{{action}}"{{{attributes}}}>{{#menuicon}}<i class="menu-icon fa {{menuicon}}"{{{iconattributes}}}></i>{{/menuicon}}{{title}}</a>
                </li>
            {{/menu}}
        </ul>
        {{#secondmenu}}
        <h4 class="title">
            {{#icon}}<i class="{{icon}}"></i>{{/icon}}
            {{#svg}}{{svg}}{{/svg}}
            {{title}}
        </h4>
        <ul class="block-menu">
            {{#menu}}
                <li{{#menuicon}} class="with-icon"{{/menuicon}}>
                    <a href="{{action}}"{{{attributes}}}>{{#menuicon}}<i class="menu-icon fa {{menuicon}}"{{{iconattributes}}}></i>{{/menuicon}}{{title}}</a>
                </li>
            {{/menu}}
        </ul>
        {{/secondmenu}}
        <ul class="block-toggle-menu">
            {{#items}}
                <li class="expanded open">
                    <a id="toggle-{{action}}" title="{{title}}" href="javascript:void(0);">
                        {{#icon}}<i class="{{icon}}"></i>{{/icon}}
                        {{#svg}}{{svg}}{{/svg}}
                        {{#image}}<image src="{{image}}" title="{{title}}" alt="{{title}}" />{{/image}}
                        {{title}}
                    </a>
                    <ul class="toggle-menu">
                        {{#list}}<li><a title="{{title}}" href="{{action}}">{{title}}</a></li>{{/list}}
                    </ul>
                </li>
            {{/items}}
        </ul>
        {{#content}}<div class="block-container">{{{content}}}</div>{{/content}}
    </div>
    {{/sidebarblocks}}
</div>
