{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_quickadd/modal_form

    Display the modal_form

}}
<div id="quickadd_formbox" class="hidden quickadd-formbox">
    <ul class="clearfix quickadd-formlist">
    {{#modules}}
        <li data-module-id="{{id}}">
            <div class="typename"><i class="fa fa-plus"></i> {{{typename}}}</div>
            <div class="summary clearfix">
                <span class="icon">{{{icon}}}</span>
                <span class="name">{{{name}}}</span>
            </div>
        </li>
    {{/modules}}
    </ul>
    <form id="quickadd_form" class="create-quickadd-form mform" action="{{formaction}}" method="POST"></form>
</div>
