{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_course/isf_modchoser
}}
<div class="hd choosertitle">
    {{title}}
</div>

<div class="chooserdialoguebody">
    <div class="choosercontainer">
        <div id="chooseform">
            <form action="{{actionurl}}" id="chooserform" method="{{method}}">
                <div id="typeformdiv">
                    {{#params}}
                        <input type="hidden" id="{{id}}" name="{{name}}" value="{{value}}">
                    {{/params}}
                    <input type="hidden" name="sesskey" value="{{sesskey}}">
                </div>

                <div class="options">
                    <div class="instruction">
                        {{instructions}}
                    </div>
                    <div class="alloptions">
                        <div class="moduletypetitle clear">
                            <label for="item">
                                <span class="typename" >{{#str}}addlearningitem,theme_primaryisf{{/str}}</span>
                            </label>
                        </div>
                        <div class="moduletypetitle clear" style="display:none;">
                            <label for="item">
                                <span class="typename" >{{activities}}</span>
                            </label>
                        </div>
                        <div class="moduletypetitle clear" style="display:none;">
                            <label for="item">
                                <span class="typename" >{{resources}}</span>
                            </label>
                        </div>
                        <div class="moduletypetitle">
                            <label class="toggle-advanced" data-val="basic" onclick="chooserToggleAdvanced();">
                                <span class="basic">
                                    <i class="fa fa-eye" title={{#quote}}{{#str}}showall,theme_primaryisf{{/str}}{{/quote}}></i>
                                    {{#str}}showall,theme_primaryisf{{/str}}
                                </span>
                                <span class="advanced hidden">
                                    <i class="fa fa-eye-slash" title={{#quote}}{{#str}}showvasic,theme_primaryisf{{/str}}{{/quote}}></i>
                                    {{#str}}showvasic,theme_primaryisf{{/str}}
                                </span>
                            </label>
                        </div>
                        <div class="moduletypeitems clearfix">
                            {{#sections}}
                                    {{#cat}}
                                        <div class="category-box  {{#only_advanced}}advanced{{/only_advanced}}">
                                            <div class="modulecat">
                                                 <span class="catname">{{name}}</span>
                                            </div>
                                            {{#items}}
                                                <div class="option {{#advanced}}advanced{{/advanced}}" >
                                                {{>core/isf_chooser_item}}
                                                </div>
                                            {{/items}}
                                        </div>
                                    {{/cat}}
                            {{/sections}}
                        </div>
                    </div>
                </div>

                <div class="submitbuttons">
                    <input type="submit" name="submitbutton" class="submitbutton" value={{#quote}}{{#str}}add{{/str}}{{/quote}}>
                    <input type="submit" name="addcancel" class="addcancel" value={{#quote}}{{#str}}cancel{{/str}}{{/quote}}>
                </div>

            </form>
        </div>
    </div>
</div>
<!--<script>-->
{{#js}}
require([
    'core/yui',
    'core/str'
], function(Y, Str) {
    Str.get_strings([
        { key: 'addresourceoractivity', component: 'moodle' },
        { key: 'close', component: 'editor' },
    ]).then(function(add, close) {
        Y.use('moodle-course-modchooser', function() {
            M.course.init_chooser({
                courseid: {{courseid}},
                closeButtonTitle: close
            });
        });
    });
});

window.chooserToggleAdvanced = function() {
    var toggler = $('.toggle-advanced');
    if($(toggler).attr('data-val') == 'basic'){
        $('.category-box .option.advanced').css('display','inline-block');
        $('.category-box.advanced').css('display','inline-block');
        $(toggler).attr('data-val', 'advanced');
    }else{
        $('.category-box .option.advanced').css('display','none');
        $('.category-box.advanced').css('display','none');
        $(toggler).attr('data-val', 'basic');
    }
    $('.toggle-advanced span').toggleClass('hidden');
}
$(document).bind('touchstart', function(e){
    if($(e.target).is('.module-label *')){
        setTimeout(function () {
            window.location = $('input[name="jump"]').val();
        },500);
    }
});
$(document).bind('click', function(e){
    if($(e.target).is('.module-label .typeadd')){
        setTimeout(function () {
            window.location = $('input[name="jump"]').val();
        },500);
    }
});


/*$(document).bind('click', function(e){
    var $clicked = $(e.target);
    if ($clicked.is('.toggle-advanced')) {
        if($clicked.attr('data-val') == 'basic'){
            $('.category-box.advanced').css('display','inline-block');
            $clicked.attr('data-val', 'advanced');
        }else{
            $('.category-box.advanced').css('display','none');
            $clicked.attr('data-val', 'basic');
        }
        $('.toggle-advanced span').toggleClass('hidden');
    }else if($clicked.is('.typename')){
        var data_id = $clicked.attr('data-id');
        $('.moduletypeitems').css('display','none');
        $('.moduletypeitems.'+data_id).css('display','block');

        $('#chooseform .alloptions .moduletypetitle').removeClass('first-load');
        $('#chooseform .alloptions .moduletypetitle .typename').removeClass('active');
        $clicked.addClass('active');
    }
});*/


{{/js}}
