/* quick links */
.quicklinks-categories .ql-search-form {
    text-align: right;
    margin-bottom: 15px;
}

.quicklinks-categories .ql-search-form .form-inline {
    margin: 0 0.5em;
}

.quicklinks-categories .generaltable.sorting .c0,
.quicklinks-categories .generaltable.sorting .c1 {
    display:none;
}

.quicklinks-list .ql-search-form {
    text-align: right;
    margin-bottom: 15px;
}

.quicklinks-list .ql-search-form .form-inline {
    margin: 0 0.5em;
}

.quicklinks-list .generaltable.sorting .c0,
.quicklinks-list .generaltable.sorting .c1 {
    display:none;
}

.quicklinks-list .course-res-info {
    color: #777;
    font-size: 12px;
    line-height: 18px;
}

.generaltable.sorting .iconsmall {
    margin-left: 3px;
}

.generaltable.sorting .iconsmall.move-action {
    cursor: move;
}

.quicklinks-content{background: url("[[pix:theme|actions]]") repeat;border-bottom: 1px solid #C5C5C5;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 2px 0 #FFFFFF;margin: 0;}
.quicklinks-content{padding-bottom: 55px; position: relative;}
.quicklinks-content .tab.active{display:block;}
.quicklinks-content .tab {display:none;}
.quicklinks-content .tab .maps iframe {width: 100% !important;; height: 350px !important;}
.quicklinks-content .action-tabs { background: url("[[pix:theme|action_divider]]")  repeat-x 0 0; font-size: 0; text-align: center; position: absolute; width: 100%; bottom: 0; z-index: 1;}
.quicklinks-content .action-tabs li { display: inline-block; position: relative; }
.quicklinks-content .action-tabs li.current { border-top: 3px solid #ef705b; }
.quicklinks-content .action-tabs li.current a, .quicklinks-content .action-tabs li.current a:hover { color: #D8572E; }
.quicklinks-content .action-tabs li.current:before { display: block; border-bottom: 4px solid #EF705B; border-right: 4px solid transparent; border-left: 4px solid transparent; content: ""; position: absolute; margin-top: -6px; left: 50%; margin-left: -4px; }
.quicklinks-content .action-tabs li a {text-decoration:none; font-weight: bold; color: #333; display: block; padding: 10px 16px 12px 16px; text-shadow: 0 1px 1px #ffffff; font-weight: 600; font-size: 13px; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
.quicklinks-content .action-tabs li a:hover { color: #1D8EC7; text-decoration:none;}
.quicklinks-content .round-buttons { width: 100%; text-align: center; padding: 14px; font-size: 0; line-height: 1; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; }
.quicklinks-content .round-buttons > li { margin: 4px 12px; position: relative; display: inline-block; text-align: center; min-width:80px; height:80px; border-radius:50%; position:relative; z-index: 5;}
.quicklinks-content .round-buttons li .round-items { margin: 0; position: relative; width:80px; height:80px; border:1px solid #d7d7d7; border-radius:50%; position:relative; background: #fcfcfc; }
.quicklinks-content .maps > li .title {border-bottom: 1px solid #ccc; font-size: 18px; padding: 10px 20px;}
.quicklinks-content .round-buttons > li .qlink-name {color: #333; font-weight: 600; font-size: 12px; line-height: 22px; position: relative; width: 100%; height: 25px;  white-space: nowrap; text-align: center;}

.quicklinks-content .round-buttons .depth:hover {background: -moz-linear-gradient(top,  #ddd 0%, #f7f7f7 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddd), color-stop(100%,#f7f7f7)); background: -webkit-linear-gradient(top,  #ddd 0%,#f7f7f7 100%); background: -o-linear-gradient(top,  #ddd 0%,#f7f7f7 100%); background: -ms-linear-gradient(top,  #ddd 0%,#f7f7f7 100%); background: linear-gradient(top,  #ddd 0%,#f7f7f7 100%);}
.quicklinks-content .depth { overflow: hidden; margin: 4px; width: 70px; height: 70px; border-radius: 50%; background-color: #7FC3DD;box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);-webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);-moz-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);-webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out;-o-transition: all 0.1s ease-in-out;transition: all 0.1s ease-in-out;}
.quicklinks-content .depth:active { background: #cf6a59;box-shadow: 0 0 4px rgba(0,0,0,0.2) inset;-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.2) inset;-moz-box-shadow: 0 0 4px rgba(0,0,0,0.2) inset;}
.quicklinks-content .depth > a { display: block; width: 60px; height: 60px; position: relative; text-align: center; border-radius: 50%; cursor: pointer; margin: 5px;background: #f7f7f7; background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7)); background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); background: -o-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); background: -ms-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); background: linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);}
.quicklinks-content .depth > a:active { box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; background: #fafafa; }
.quicklinks-content .depth > a > i { font-size: 21px; margin: 19px 0; width: 24px; float: none; color: #676767; text-shadow: 0 1px 0 #ffffff; height: 24px;-webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out;-o-transition: all 0.1s ease-in-out;transition: all 0.1s ease-in-out;}
.quicklinks-content .depth > a:hover { background: #fcfcfc; }
.quicklinks-content .depth > a:hover > i { color: #3d829c; }
.quicklinks-content .depth > a:active > i { color: #cf6a59; }
.quicklinks-content .depth > a img {left:50%; position: absolute; max-width: 44px; max-height: 44px; top: 50%;}

